[2020-12-12 20:09] xknat commented on #353
Why be 1.17.10?

[2020-12-12 20:10] #353 closed

[2020-12-12 20:46] Logics4 commented on #353
SkinsRestorer has not supported 1.7.10 for a long time already (since around 2016?). Due to skin format differences between 1.7.x and 1.8+ this is not something in our priorities list nor something we actually want to support again.

[2020-12-14 17:51] Insprill opened #354 "Disable auto-update on Spigot"
It would be nice to be able to fully disable the update checker on Spigot when behind Bungeecord. Right now, disabling it on Bungeecord *only* disables it on Bungeecord and I would love for it to disable on all Spigot servers too.

[2020-12-14 19:12] xknat commented on #354
#342

[2020-12-14 19:12] #354 closed

[2020-12-15 16:07] Schmigy opened #355 "Error WARNING: An illegal reflective access operation has occurred"
I expected clean server console - however it works without issues.

**Steps to reproduce the behavior**
1. Run server
2. Get warning during startup, but it doesnt show in logs
3. ???
4. Still works.

**Expected behavior**
Expected clean console. Get warning. Tried both offline and online mode.

**Screenshots**
![warning](https://user-images.githubusercontent.com/76057648/102237018-77560300-3ef4-11

[2020-12-15 18:48] Logics4 commented on #355
This is normal if you're using a Java version that is higher than 8. There's nothing to worry about. The plugin will still work.

[2020-12-16 20:22] Logics4 commented on #355
I'm going to close this issue, but if you find a problem that comes from this, the issue can be reopened or a new one can be made.

[2020-12-16 20:22] #355 closed

[2020-12-22 14:39] Axer22 opened #356 "acf-core.invalid_syntax locale can't be blank"
## Describe the bug
"/skin set" command shows message two times.

## How can we reproduce what you got?
Steps to reproduce the behavior:
1. Install SkinsRestorer on Bungeecord server and connected Bukkit server.
2. Type "/skin set" command on Bukkit server.
3. See two messages.

**Expected behavior**
The first message should't be visible.

**Screenshots**
https://cdn.discordapp.com/attachments/186

[2020-12-22 15:08] xknat commented on #356
`acf-core.invalid_syntax =` return empty line

[2020-12-31 17:08] xknat commented on #310
Comment:

by Hdadaw in https://github.com/SkinsRestorer/SkinsRestorerX/commit/daa38030a240d2462b2a51ca71da73f0a2b253e2#r45123382

[2020-12-31 17:10] xknat commented on #170
skin clear for cracked players is not done without changing server or rejoining.
Maybe a skin update needs to be send with a delay??

[2020-12-31 17:12] xknat commented on #172
Bungee needs a different approach then spigot.
This can be done the same way as we use the url skin.

[2020-12-31 17:21] xknat commented on #322
done in c962d3796e3aa52c11baff6aa194b4694e4dc1e9 & daadbcb37fe35d96d9adb3873aaa3ffa326ae9c0

[2020-12-31 17:21] #322 closed

[2020-12-31 17:22] xknat commented on #319
unix codes should be converted to utf8 so that skins & players will never replace each other.

[2020-12-31 17:24] xknat opened #357 "Skin set <player> wont work on illegal username (acf side)"
When trying to set the skin of a illegal username (floodgate), ACF will block this.
Need to look into acf if this can be bypassed

[2021-01-03 12:37] ArkQuark opened #358 "Dont work /skin set [nick]"
## Describe the bug
A clear and concise description of what the bug is.

## How can we reproduce what you got?
Steps to reproduce the behavior:
1. add plugin in server
2. add mods in server
3. /skin set ArkQuark
4. See error in console

**Expected behavior**
A clear and concise description of what you expected to happen.
my skin must been changed
**Screenshots**
If applicable, add screenshots to h

[2021-01-03 13:03] xknat commented on #358
We support forge as is

[2021-01-03 13:03] #358 closed

[2021-01-03 13:35] Logics4 commented on #358
Just to add to the previous comment:
- You might find a higher success of using SkinsRestorer in a Forge-based server if you don't use Forge mods that alter the player's skin in some way;

- Magma is a Forge+Bukkit hack. As the two platforms were never made to work with each other, all sorts of issues can happen. If you want to use plugins in a Forge server, you should be using SpongeForge instead

[2021-01-04 18:26] LucidAPs opened #359 "Bungee MySQL Error"
Waterfall #389
Java 8
SkinsRestorer #236
Backend Servers: Tuinity 1.16.4 #177 , ViaVersion 3.2.2 #493 , SkinsRestorer #236
https://mcpaste.io/c8c102bd6b456e5f

[2021-01-04 19:24] Logics4 commented on #359
Are you sure this is an issue with the plugin's code? Did you make a brand new database or this happened in an existing one? Are you able to fix it by manually editing the database to remove the duplicate entry? This probably should've gone through our support discord server first.

[2021-01-05 08:53] chocolatecraft opened #360 "Self Skin not working with generator uuid Character system."
I used this plugin. skin wont show on self client but other player saw it normally.

https://www.spigotmc.org/resources/character-slots-user-profiles.76289/

Can you fix this. Or problem from client. Thank you.

[2021-01-05 08:54] chocolatecraft commented on #360
https://i.ibb.co/fQ3fvfV/skin.png

but other player saw my skin. I didnt see my skin.

[2021-01-05 09:07] xknat commented on #360
@chocolatecraft github is for issues related to code or confirmed bugs.
If you want support, join our discord. But if you still feel like this is a coding issue, then please fill in our bug report:
https://raw.githubusercontent.com/SkinsRestorer/SkinsRestorerX/master/.github/ISSUE_TEMPLATE/bug-report.md

[2021-01-05 09:08] #360 closed

[2021-01-05 09:41] xknat commented on #357
acf: someone mentioned to override that context resolver

[2021-01-05 09:58] pianwan opened #361 "Skin menu GUI can't be detected correctly if the title contains acii special chars"
## Describe the bug
A clear and concise description of what the bug is.
Skin menu GUI can't be detected correctly if the title contains something.
## How can we reproduce what you got?
Steps to reproduce the behavior:
1. Go to 'messages.yml'
2. Set SKINSMENU_TITLE_NEW to '&d➤ &1&lSkin Change &7[&9/skins&7] (&9%page&7)'
3. /sr reload
4. /skins
5. The GUI is broken and the items inside canbe take ou

[2021-01-05 14:40] xknat commented on #361
Possible fix: https://github.com/SkinsRestorer/SkinsRestorerX/commit/daa38030a240d2462b2a51ca71da73f0a2b253e2#r45123382

[2021-01-05 14:55] kn-km commented on #361
I tried the latest dev build, still not work.

[2021-01-05 14:56] xknat commented on #361
i know, see it as a personal note.

[2021-01-08 15:43] PappoYT opened #362 "Illegal reflective access warning when using java 9+"
== DEV ==
* [x] added warning
* [ ] fixed issue (TODO)

== Original ==
I get this error during startup of the server:

This server is running Paper version git-Paper-311 (MC: 1.16.4) (Implementing API version 1.16.4-R0.1-SNAPSHOT)
Server log: [https://pastebin.com/TrKHxpT3](https://pastebin.com/TrKHxpT3)

[2021-01-08 16:03] Logics4 commented on #362
This is normal if you use Java 11. The plugin will work fine.

[2021-01-09 13:46] aljaxus opened #363 "FR: enable/disable /skins menu"
Some SR users have shown the interest in disabling the `/skins` command in order to just use [SkinSystem](https://github.com/riflowth/SkinSystem/).

I suggest the following:
* [ ] add the config option to enable/disable the menu
* [ ] add the option for a custom message being returned in chat on command execute
  * [ ] message handling should also have an enable/disable option
* [ ] for bungee-mod

[2021-01-09 13:51] xknat commented on #153
#363 might be related when i add the function to have subservers ask for set config options.

[2021-01-13 00:01] xknat opened #364 "Trim .string from default, customskinslist"
Just trim out .skin so it will still work and not confuse new owners

[2021-01-13 15:45] xknat opened #365 "Velocity spams "Premium player with that name does not exist" on join while debug off"
https://github.com/SkinsRestorer/SkinsRestorerX/blob/514352fa23197af6ab14ea982ba8a7e7b74711de/src/main/java-templates/skinsrestorer/velocity/listener/GameProfileRequest.java#L45

[2021-01-19 21:18] moom0o opened #366 "Skinrestorer leaks ip"
## Describe the bug
A clear and concise description of what the bug is.
Anyone can run /skinrestorer set iplogger.com/image.jpg and it will leak the backend ip.
A few people were using this to find the backend ip after 5 ip changes until we switched to openvpn (which is awful, we'd rather use HAProxy).
We were using HAProxy and thought it was a problem with that. They finally admitted it was skinr

[2021-01-19 21:56] Logics4 opened #367 "possibly critical issue?"
@moom0o We have seen the issue you posted. Can you please join our discord server so we can contact you privately about it?

[2021-01-21 10:09] AlexProgrammerDE opened #369 "Bungeecord auto update"
Spiget made some changes that may fix the difficulties you had with it back then.
https://github.com/InventivetalentDev/SpigetUpdater
I don't think there are any key differences to the bukkit way.

[2021-01-22 10:53] xknat commented on #280
Fixed by #338

[2021-01-22 10:53] #280 closed

[2021-01-23 14:43] Aira-Sakuranomiya opened #371 "BungeeCord update configuration isn't working on Spigot sub servers"
Server Information:
Newest BungeeCord and paper
All paper servers and bungeecord server are using the newest release of SkinsRestorer

Bug:
I set update to false on BungeeCord but my spigot servers are still downloading the newest release

[2021-01-23 14:46] xknat commented on #371
Updates are mandatory for now.
We will add a feature to delay updates. please see #298

[2021-01-23 14:46] #371 closed

[2021-01-23 15:00] Aira-Sakuranomiya opened #372 "File integrity isn't checked when update downloaded"
# Server Information #
Newest BungeeCord and paper
All paper servers and BungeeCord server are using the newest release of SkinsRestorer
### **The server is in China and we cannot connect to GitHub very smoothly**

# Bug #
The downloaded update files are broken(BECAUSE THE SERVER IS IN CHINA) and we cannot turn off the update option. #371
Every time the plugin updated and we restart the server, th

[2021-01-23 16:50] xknat opened #374 "Switch to not include urlskins in gui"
As you know, some players have unique skins that they drew themselves. However ... Another player can steal another player's unique skin. Through the menu and through the "skin set" After the skin set, the player only needs to enter the nickname of the other player from whom he wants to steal the skin. How can this be fixed? So that other people's skins are not saved in the menu and players cannot

[2021-01-23 21:03] arantesxyz opened #375 "Why not use an array with the URL and add URI matches (protocol, "://", "/") using Patterns?"
Why not an array with the URL and add URI matches (protocol, "://", "/") using Patterns?

_Originally posted by @arantesxyz in https://github.com/SkinsRestorer/SkinsRestorerX/pull/370#discussion_r563199096_

[2021-01-24 01:10] xknat commented on #344
@Xuwznln please fill in the forum and i will reopen this issue.

[2021-01-24 01:10] #344 closed

[2021-01-24 01:16] xknat commented on #278
Done in 93f9db253757440a3dc15a3626e594e19c241cfd

[2021-01-24 01:16] #278 closed

[2021-01-24 01:22] xknat commented on #255
We no longer support Mohist

[2021-01-24 01:22] #255 closed

[2021-01-26 19:12] xknat opened #376 "velocity Premium player with that name does not exist"
debug false:
![image](https://user-images.githubusercontent.com/10220139/105892999-d2f6ce80-6012-11eb-8209-414b7cd4cf49.png)
`Hey, it is possible to remove this exception message in console? I get it every time when non-premium player join my server. I'm using Velocity, on Bungeecord I do not have that issue. If I set a blank text in messages.yml at "NOT_PREMIUM" it will show that exception anyway

[2021-01-26 19:16] Logics4 commented on #376
I fixed this issue a while ago in Sponge. Find the commit and see what I did

[2021-01-26 19:19] Logics4 commented on #376
dc4ad8596f82784dae70b8ca1b8813c657f7fb75

[2021-01-26 21:48] #376 closed

[2021-01-26 22:42] xknat commented on #375
We don't want to edit to much on the code it self as we will only have this implemented temporarily till mineskin api does the check them selves. This would make us able to remove the exploit code entirely.

[2021-01-26 22:42] #375 closed

[2021-01-26 22:47] xknat commented on #374
merged to #363

[2021-01-26 22:47] #374 closed

[2021-01-27 07:42] xknat commented on #365
fixed by ea3ec5f

[2021-01-27 07:42] #365 closed

[2021-01-28 17:06] xknat commented on #327
more testing is needed to find where the issue is

[2021-01-28 18:56] #281 closed

[2021-01-28 18:56] #364 closed

[2021-01-28 21:38] mirikyoutube opened #381 "ERROR"
00:36:26 [SEVERE] java.lang.NoSuchMethodError: net.md_5.bungee.connection.LoginResult.<init>(Ljava/lang/String;[Lnet/md_5/bungee/connection/LoginResult$Property;)V
00:36:26 [SEVERE]     at skinsrestorer.bungee.listeners.LoginListener$2.applySkin(LoginListener.java:71)
00:36:26 [SEVERE]     at skinsrestorer.shared.format.SkinProfile.applySkin(SkinProfile.java:80)
00:36:26 [SEVERE]     at skinsresto

[2021-01-28 21:41] xknat commented on #381
@mirikyoutube what is your /sr status

[2021-01-28 21:42] xknat commented on #381
And also, what is your bungee version

[2021-01-28 21:44] mirikyoutube commented on #381
i am using BungeCord BotFilter 1.8.x-1.13.x by vk.com/Leymooo_s

[2021-01-28 21:44] mirikyoutube commented on #381
command not found

[2021-01-28 21:45] xknat commented on #381
Can you check what version of SR is loading?

[2021-01-28 21:45] mirikyoutube commented on #381
23:13:58 [INFO] [SkinsRestorer]     You are running v10.4.2

[2021-01-28 21:45] xknat commented on #381
??????????????????????????????????????

[2021-01-28 21:46] mirikyoutube commented on #381
skinrestorer ver 10.4.2

[2021-01-28 21:47] xknat commented on #381
10.4.2 is around 2015 (launch date of windows 10)
you should update lol

[2021-01-28 21:47] #381 closed

[2021-01-28 21:52] mirikyoutube opened #382 "i am sorry, error"
00:51:18 [WARNING] Error enabling plugin SkinsRestorer
java.lang.reflect.InvocationTargetException
    at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
    at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
    at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
    at java.lang.reflect.Constructor.newInstance(Unknown Source)

[2021-01-28 21:58] mirikyoutube commented on #382
fixed, sorry.

[2021-01-28 21:58] #382 closed

[2021-01-29 16:54] #341 closed

[2021-01-30 19:09] MAX-XiaoKui opened #383 "Player can't join the server"
## Describe the bug
Player can't join the server(BungeeCord).

**Screenshots**
![image](https://user-images.githubusercontent.com/53287753/106365513-1f267380-6371-11eb-85e4-7c3db6113c16.png)

## Server information

BungeeCord

**What version? Do NOT answer LATEST**
* SkinsRestorer: 13.8.8 & 13.8.7
* Bungeecord version: build 1543
* IF bungee, did you put the plugin on all servers: No (My servers a

[2021-01-30 19:28] Logics4 commented on #383
Your BungeeCord is two versions behind, and one of them seems to update the network library so try updating your BungeeCord version.

Additionally, we don't test the plugin when it's only installed in the proxy. When the server uses BungeeCord, the plugin is expected to be installed in both the proxy and the backend servers, and we don't offer support for Fabric servers. If it worked flawlessly un

[2021-01-30 19:29] xknat commented on #383
"It works well 4 days ago." with or without skinsrestorer?

[2021-01-30 19:40] MAX-XiaoKui commented on #383
with

[2021-01-30 19:44] MAX-XiaoKui commented on #383
I tried BungeeCord build 1545, and the error still occurs.

[2021-01-30 19:52] xknat commented on #383
@MAX-XiaoKui can you check if working on 13.8.6

[2021-01-30 19:57] MAX-XiaoKui commented on #383
No, it doesn't work.

[2021-01-31 14:14] xknat commented on #383
then i stand behind Logics comment

[2021-01-31 14:14] #383 closed

[2021-01-31 14:40] Dum4G opened #384 "OnJoinSkins task is slowing things down"
## Describe the bug
When the DisableOnJoinSkins is set to false my server literally hangs out for a few seconds during each login attempt and then reports TPS drops. As soon as I disable that feature authentification process gets faster.
My evidence is https://timings.spigotmc.org/?url=dulivujomi

**Expected behavior**
OnJoinSkins won't cause deadlocks

## Server information

**I'm running Arcligh

[2021-01-31 14:46] xknat commented on #384
Could be an Arclight thing. would need to check.
Maybe they dont support async

[2021-01-31 15:21] Logics4 commented on #384
As you said, Arclight is a Forge+Bukkit server, which we don't offer official support for.

Anyway, how about you try to install SpongeForge in it and put SkinsRestorer as a Sponge plugin? Maybe it works... maybe it won't. ¯\_(ツ)_/¯

[2021-01-31 16:44] #384 closed

[2021-01-31 19:42] PrzemoVi opened #385 "Custom skins issues"
So 4 years ago I have written a Java program that was setting skins players wanted to my Premium account, extracting Value, Signature from it, injecting it into SkinsRestorer database as CUSTOM_randomchars skin, and setting that skin for player.
Then the program was executing rcon command "skin update {NICK}".
And it worked perfectly fine, until now.

When I type "skin update {NICK}" I'm getting "

[2021-01-31 20:00] xknat commented on #385
Custom skins are not bound by mojang username.
Since the skin is not a username bound mojang name. there is no source we can update the skin from.
Thus the skin can't be updates.
You should apply skin and not skin update if you wish to apply a skin from api

we won't because i think your misunderstanding skin update for this reason.

We have no "wkin" nor "whitelist"

I think this is not a coding

[2021-01-31 20:00] #385 closed

[2021-01-31 20:03] PrzemoVi commented on #385
I mean SKIN URL WHITELIST coz SR is telling me that im the one that should be able to add/remove image uploaders, but I'm not.

[2021-01-31 20:05] PrzemoVi commented on #385
And about update - I know how Mojang api works and "update" command should UPDATE skin for example, after changing data in the database, and If skin is NOT CUSTOM it should UPDATE database and then UPDATE skin as it was in the older versions.

[2021-01-31 20:18] xknat commented on #385
@PrzemoVi Did you read out latest update release notes?

You mean "applyskin" which is not yet a command but a api.
Update skin will try and update the skin, but if it cant update. it wont put in resources and lagg to again apply the same skin.

[2021-01-31 20:19] xknat commented on #385
but yet again, this is not a coding issue -> join discord or dm us on spigotmc

[2021-02-01 09:15] LucidAPs opened #386 "V14 MySQL Error"
When using the latest dev versions from Jenkins I am getting these errors and the plugin doesn't work. However the latest version from the spigot page works just fine.

Console Error
https://nekobin.com/liqasucoti

[2021-02-01 09:21] xknat commented on #386
@LucidAPs [08:57:04 INFO]: [SkinsRestorer] MySQL.ConnectionOptions is missing in config.yml! Using default value.

[2021-02-01 09:21] xknat commented on #386
try to update config,yml

[2021-02-02 09:37] LucidAPs commented on #386
I generated a new config and it works with the default values but if I enable mysql there is the same problem.

[2021-02-02 10:02] xknat commented on #386
@LucidAPs can you try 13.8.8

[2021-02-02 11:26] xknat commented on #329
duplicate of 357

[2021-02-02 11:26] #329 closed

[2021-02-02 11:46] AlexProgrammerDE commented on #329
But #357 was after this issue? So #357 is a duplicate of this?

[2021-02-02 11:53] xknat commented on #329
Ah yeah, think #357 is the result issue of this one, or this one has already been resolved and #357 is the new issue

[2021-02-02 14:03] LucidAPs commented on #386
I tried the build #255 and it had the same error.

[2021-02-03 20:00] xknat commented on #386
@LucidAPs i know, i want you to try a stable release like https://github.com/SkinsRestorer/SkinsRestorerX/releases/latest

[2021-02-03 22:29] uRyanxD opened #388 "SkinsRestorer"
## Describe the bug
A clear and concise description of what the bug is.

## How can we reproduce what you got?
Steps to reproduce the behavior:
1. Download & put in the server
2. Start the server

**Screenshots**
https://prnt.sc/y6xadc

## Server information

**On what platform does your server run? (Spigot)

* SkinsRestorer: RELEASE
* Spigot version: 1.8
* Java: 8
* MinecraftLauncher?: Mojang

[2021-02-03 22:37] xknat commented on #388
-> https://discord.me/skinsrestorer

[2021-02-03 22:37] #388 closed

[2021-02-05 19:34] xknat commented on #324
I did notice that we do mess up getConfigPath() with getDataFolder() ??
Are these 2 the same or should we define both configPath & dataPath differently?

[2021-02-05 21:02] Logics4 commented on #324
There is a getConfigPath() in Bukkit?
Judging by the name it should return the exact path to config.yml. getDataFolder() returns the `plugins/SkinsRestorer/` folder (and it's the method I see being used the most).

[2021-02-06 01:13] xknat opened #390 "PLAYER_HAS_NO_PERMISSION_SKIN is always thrown (v14)"
https://github.com/SkinsRestorer/SkinsRestorerX/blob/d1b08c53da6c1685e09fae484b855c73c3314dd2/src/main/java/net/skinsrestorer/bungee/commands/SkinCommand.java#L187-L190

^ always thrown

[2021-02-06 22:43] xknat opened #391 "Add config to limit skull amount shown in SKINGUI"
Requested by GrayWorld on discord:

[2021-02-07 05:30] Ashesh3 commented on #335
Having similar issues, SkinRestorer uses packet magic to toggle inventory or something which results in cancelling of the prompt or any other plugins which try to open inventory on player login (Ex. PinPrompt). Only when `DisableOnJoinSkins` is False. Any fixes?

[2021-02-07 10:12] Th3Tr0LLeR commented on #335
I canfix the resource pack prompt, but not compatibility with other plugins

[2021-02-07 13:11] xknat commented on #298
in 5dd20c43c3d878d81f77e4818cb8d57b2e9330af you can now disable the updatechecker.
We found that having the update delayed will still cause issues for instances when there is no internet to github or when server owner do not want to update due to circumstances.

It is not on us to mitigate the risk of server not updating by enforcing updates that can not be disabled.
Starting with v14. you can now

[2021-02-07 13:11] #298 closed

[2021-02-07 13:44] xknat commented on #362
Pushed e292e53ef845de2b34471eb49c1c0a0f5cfc6d0e in a effort to reduce spam regarding this in support.
This is lower priority issue.

[2021-02-07 15:13] xknat commented on #391
merged to #363

[2021-02-07 15:13] #391 closed

[2021-02-08 11:36] xknat commented on #390
Confirmed for spigot 2

[2021-02-08 23:03] xknat commented on #390
fixed by b7f90db5cbf412683241185e7d9f76e552012a4f

[2021-02-08 23:03] #390 closed

[2021-02-11 11:51] xknat opened #396 "NOT_PREMIUM thrown when connection is offline / blocked"
![image](https://user-images.githubusercontent.com/10220139/107633134-d4a5d080-6c67-11eb-9021-da63e43228b1.png)
![image](https://user-images.githubusercontent.com/10220139/107633139-d96a8480-6c67-11eb-84f4-269d2932b25f.png)

[2021-02-11 12:30] LichLord91 commented on #182
Will any of these feature helps plugin devs possibly be able to grab players heads to add to their plugins needs for like simply displaying an image of it? Example would be Discordsrv , Pl3xmap, Dynmap etc. Would help offline servers and GeyserMC players where these plugins rely on mojang api and java uuid's to grab player heads.

If they don't can i suggest adding a feature that would let this ha

[2021-02-11 15:22] xknat opened #397 "add optional steve / alex switch for skin url"

[2021-02-16 02:39] HerrCraziDev opened #399 "Can't change skin without Imgur, even with AllowedUrls correctly set"
## Description
Using `/skin set <player> <url>` or `/skin set <url>` fails to set the skin and asks for the use of Imgur.com, even though I have configured the `AllowedUrls` setting in `config.yml` to accept our domain. We're running the latest version of SkinRestorer on Paper 1.16.4. We used to use a file server on our local network to host the skins, and the file server works perfectly (both thr

[2021-02-16 09:37] xknat commented on #399
@HerrCraziDev the skin also must be a valid skin, can you send the image as example?

[2021-02-16 09:38] xknat commented on #399
Its already replaced in v14 (devbuilds)

[2021-02-16 11:45] xknat opened #400 "skin url [steve/alex] switch"

[2021-02-16 12:10] LichLord91 commented on #182
Hey team speaking of improvements/api's I don't know if you can assist these devs in any way of trying to do a bit what dynmap has done by setting player avatar head in their plugin using skin restorer's help.

Dynmap's original commit : https://github.com/webbukkit/dynmap/commit/578c66e2fe6de9e83f9e9ad1b8508a1def97aae1

Two suggestions for integration with your plugin on these two great projects:

[2021-02-16 14:28] xknat commented on #182
Hey there,
Thank you for your effort in integrating SkinsRestorer with other projects.
We did receive a lot of request in the past regarding images and url's.
https://github.com/riflowth/SkinSystem has allowed people to get skulls from a url to use in DiscordSRV (`yourwebsite.net/skinsystem_folder/resources/server/skinRender.php?headOnly=true&vr=0&hr=0&user={username}`)

Looking at SkinsRestorerSk

[2021-02-16 16:26] #323 closed

[2021-02-16 20:33] LichLord91 commented on #182
Hey xknat ,

appreciate the feedback and the explanation on whats happening on your roadmap , appreciate it. Loving the plugin thusfar its been really helpful especially to my GeyserMC players.

I  updated some info on Discord ticket if you wouldn't mind giving it a read and maybe clearing up any confusions or misdirection presented by us both or maybe even give some direction on what to do next.

[2021-02-17 13:34] #357 closed

[2021-02-18 09:03] xknat opened #417 "Username check only at mojangapi"
This should allow custom skins that are not A-z and longer skins

[2021-02-18 11:44] xknat commented on #386
https://hastebin.app/602e40961bef4c001c12e1b4

[2021-02-18 23:01] xknat commented on #400
Duplicate of #397

[2021-02-18 23:01] #400 closed

[2021-02-22 10:53] xknat commented on #340
Should be resolved with d29c2758b10e2a0c035230338821d4074e85ad1e & 0dbd235b477c7ca1dd88756c0aa807cfe473dd9e

[2021-02-24 00:26] #335 closed

[2021-02-24 00:31] xknat commented on #335
@Ashesh3 @AlvarZ4 @amalon 9c50ae2 should be sufficient, i know that there are some plugins that do handle resource pack prompt, and run a command when completed.
When using latest dev build with `DisableOnJoinSkins: true`
The resource pack plugin should run /sr applyskin %p where %p = player

Let me know if this resolved your issue!

[2021-02-24 11:37] HerrCraziDev commented on #399
Sorry for the long waiting time. The skin are perfectly valid (I use it on another server and as my main Minecraft skin with no issues).
[Here on NameMC](https://fr.namemc.com/skin/b0a10cae17e91392) | [Personal (auxiliary) fileserver](http://files.herrcrazi.tk/thorfinn.png)
![thorfinn.png](http://files.herrcrazi.tk/thorfinn.png)

[2021-02-24 11:57] xknat commented on #399
@HerrCraziDev did you add `http://files.herrcrazi.tk/` to the allow list of the new config option in 13.8.8 as shown below:

https://github.com/SkinsRestorer/SkinsRestorerX/blob/master/src/main/resources/config.yml#L118-L121

If this is not present, please add the following to your config and add your domain: (as shown below)
[code]

[2021-02-24 12:53] xknat opened #424 "older bungee versions throw error on getdatafolder"
confirmed issue on https://ci.md-5.net/job/BungeeCord/1036/
Issue is present on 13.8.8

[2021-02-24 13:59] xknat opened #425 "Mojang-API (Backup) UUID throws L.NOT_PREMIUM if timed out"
[14:49:45 INFO]: ----------------------------------------------
[14:49:45 INFO]: Checking needed services for SR to work properly...
[14:49:45 INFO]: [net.skinsrestorer.shared.utils.SRLogger] [SkinsRestorer] Trying Mojang API to get UUID for player Notch.
[14:49:45 WARN]: [net.skinsrestorer.shared.utils.SRLogger] [SkinsRestorer] Failed to get skin property from backup API. (069a79f444e94726a5befca

[2021-02-24 15:04] xknat commented on #153
Fixed by #420

[2021-02-24 15:04] #153 closed

[2021-02-24 23:54] xknat opened #426 "applyskin does restore deleted or changed file."

[2021-02-26 11:09] #386 closed

[2021-02-26 12:46] #343 closed

[2021-02-27 16:27] xknat opened #429 "update deprecated source.sendMessage for velocity"

[2021-02-28 00:45] xknat opened #430 "sr props broke in v14"
issue because of upgrading gson
01:23:31 [SEVERE] [SkinsRestorer] [ACF] Exception in command: sr props xknat
01:23:31 [SEVERE] [SkinsRestorer] [ACF] java.lang.NoSuchMethodError: com.google.gson.JsonParser.parseString(Ljava/lang/String;)Lcom/google/gson/JsonElement;
01:23:31 [SEVERE] [SkinsRestorer] [ACF]     at net.skinsrestorer.bungee.commands.SrCommand.onProps(SrCommand.java:143)
JsonElement is

[2021-03-02 19:27] xknat commented on #430
0cf7fdd reverted commit that caused the issue

[2021-03-02 19:27] #430 closed

[2021-03-04 14:26] uRyanxD opened #432 "PAPER"
## Describe the bug
Can't use PaperSkinRefresher

## How can we reproduce what you got?
Steps to reproduce the behavior:
1. Start the Paper Server

**Expected behavior**
I expected you to use PaperSkinRefresher and not make that mistake and go to SpigotSkinRefresher

## Server information

**On what platform does your server run? Paper**

**What version? Do NOT answer LATEST**
* SkinsRestorer: v13

[2021-03-04 14:27] xknat commented on #432
@uRyanxD Please use v14 -> https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX/lastSuccessfulBuild/
Let me know if this resolved your issue

[2021-03-04 14:30] uRyanxD commented on #432
[11:28:06 INFO]: [SkinsRestorer] Enabling SkinsRestorer v14.0.0-SNAPSHOT
[11:28:06 INFO]: [SkinsRestorer] [!] WARNING [!]
[SkinsRestorer] Below message can be IGNORED, we will fix this in a later release!
[11:28:06 INFO]: [SkinsRestorer] Failed PaperSkinRefresher
[11:28:06 INFO]: ºe[º2SkinsRestorerºe] ºr[SkinsRestorer] Using SpigotSkinRefresher
[11:28:06 INFO]: [SkinsRestorer] Detected Minecraft v

[2021-03-04 14:36] #432 closed

[2021-03-04 23:06] xknat opened #434 "Rework genSkin to have delay with que when overloaded"
genSkin should be able to delay all incomming request to mineskin if it throws to many request and que them back.

[2021-03-05 20:36] xknat commented on #300
Maybe add skinsrestorer.* as a default way to give all commands & permissions

[2021-03-05 20:40] xknat commented on #359
Fixed in v14 by 4b2c5bd1a23f2a2cf6e2e13166f99b22b663ac9c

[2021-03-05 20:40] #359 closed

[2021-03-05 20:47] xknat opened #435 "Future Goals roadmap"
Major enchants:
- [ ] UPDATE SKINSGUI MEGA THREAD #363 (resolved a lot of related issues)
  - [ ] Cache
- [x] improved SkinsRestorer API with more features & switches (Yet to be decided)
- [x] Backend api
  - [ ] pluginmessagechannel??? --> maybe better solution
- [ ] Rework Skinstorage
  - [x] Storage pools
  - [ ] use json flatfile
  - [ ] cooldown storage
- [x] translations

Other enchants:
- [

[2021-03-05 20:51] #369 closed

[2021-03-07 09:40] AfkF24 commented on #356
Hi, any progress on this? Has been an issue for a while now. The same thing would apply for `/skin url` as well.

![Image](https://i.imgur.com/YVSHT6Q.png)

Setting `acf-core.invalid_syntax = ` (blank) disables both messages, which is rather annoying too.
Cheers

[2021-03-07 10:11] AfkF24 opened #436 "Changing skin by url inconsistencies"
## Describe the bug
Basically what the title says. I've had a roughly 50% success rate uploading skins through `/skin <url>` command and a 100% success rate with `/skin url <url>`.

## How can we reproduce what you got?
See screenshot below.

**Expected behavior**
`/skin <url>` should perform the same way as `/skin url <url>`.

**Screenshots**
![Image](https://i.imgur.com/EACeR0m.png)
(Testing url

[2021-03-07 10:40] xknat commented on #356
The first message is a indication in the command and hoe it should be performed.

This title can't be removed and also should not be removed afaik

[2021-03-07 10:41] xknat commented on #436
Please enable debug and show logg output

[2021-03-07 10:42] xknat commented on #436
As it does run the same way in the code.

[2021-03-07 11:00] AfkF24 commented on #436
Failed the first two times using `/skin <url>`, then succeeded with `/skin url <url>` and with `/skin <url>` again afterwards.
[code]

[2021-03-07 12:01] xknat commented on #436
ty

[2021-03-07 18:38] uRyanxD opened #437 "LATEST BUILD"
## Describe the bug
Error when starting the plugin in the latest build

## How can we reproduce what you got?
Steps to reproduce the behavior:
1. Start the server

**Screenshots**
https://prnt.sc/10fh13y - https://prnt.sc/10fh1a8

## Server information

**On what platform does your server run? Paper

* SkinsRestorer: LATEST-BUILD.
* Paper version: 1.8.8
* Java: 8
* plugin list bungee & spigot: [19

[2021-03-07 19:10] xknat commented on #437
@uRyanxD can you try https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX/lastSuccessfulBuild/ (build 296)

[2021-03-07 19:12] xknat commented on #399
@HerrCraziDev issue closed?

[2021-03-07 19:56] uRyanxD commented on #437
It worked!

[2021-03-07 19:56] #437 closed

[2021-03-07 23:06] xknat commented on #300
Tested on latest version and it seems to be working, could be that acf update resolved this issue??

[2021-03-07 23:06] #300 closed

[2021-03-13 23:47] xknat commented on #436
From a coding perspective, we are using the same part of the code for both.

I Think that you have been rate limited for uploading the same url.

[2021-03-13 23:47] #436 closed

[2021-03-13 23:52] xknat commented on #311
New update must be done as there have been a lot of changes regarding mysql in v14

[2021-03-13 23:53] #306 closed

[2021-03-13 23:53] xknat commented on #306
Has been done in 57857355504101f1c007cf49ec0434946ae4dd37

[2021-03-13 23:56] xknat commented on #246
@En0tS has been done in 4ad7fa4c1f49b7e5f7bdcffd85ea55a044705a0f
Sorry for taking so long!

When you set the timestamp to "`0`", it will prevent /skin update.

[2021-03-13 23:56] #246 closed

[2021-03-14 00:09] xknat commented on #207
Not SR Related afaik

[2021-03-14 00:09] #207 closed

[2021-03-14 00:11] xknat commented on #172
The command would be to long, a paster with raw source "might" be possible but i think your better off using skin url OR our api...

[2021-03-14 00:11] #172 closed

[2021-03-14 08:28] LucidAPs opened #443 "Unsupported API version 1.16.5"
Error on bukkit servers with build #307
https://nekobin.com/waqiqoyonu

[2021-03-14 08:33] AlexProgrammerDE commented on #443
This bug has been already reported to us and will be fixed soon by the responsible dev once he is awake.

[2021-03-14 14:39] Logics4 commented on #424
The build number 1036 of BungeeCord was released in June 2015. It only has support for 1.7.10 and 1.8 backend servers. There's no reason why we should even be minding it when the latest builds support 1.8 to 1.16.5 and people who still need 1.7 for whatever reason can use Travertine. No one should still be running builds from 2015.

[2021-03-15 09:14] Marcelektro opened #444 "[Suggestion] Use links as default skins."
Hello,
I'd like to suggest ability of adding URL skins as default players.
That could give us ability to design skins for the non players (non premium without skin) making the server look nicer!
It seems very easy to do myself, but I thought about suggesting it there so others would also be able to do it!
Regards
Marcelektro

[2021-03-15 09:19] xknat commented on #444
Can already be done for spigot.
For bungee, create a custom skin and set the 3rd line to 0. (if using v14)

[2021-03-15 09:19] #444 closed

[2021-03-15 19:01] AlexProgrammerDE commented on #443
Fixed in the latest build. Download it from our discord.

[2021-03-15 19:01] #443 closed

[2021-03-19 18:51] uRyanxD opened #451 "NOT WORKING ON 1.16.5"
## Describe the bug
Dont' loading the plugin.

## How can we reproduce what you got?
Steps to reproduce the behavior:
1. Start server

## Server information

**On what platform does your server run? Paper

**What version? Do NOT answer LATEST**
* SkinsRestorer: Build #310 (Fri Mar 19 09:58:22 UTC 2021)
* Spigot version: 1.16.5
* Java: 11
* plugin list  spigot: SkinsRestorer only
* MinecraftLaunche

[2021-03-19 18:53] xknat commented on #451
@uRyanxD Caused by: java.util.zip.ZipException: ZipFile invalid LOC header (bad signature)
jar seems to be corrupt. Please download again from releases here https://github.com/SkinsRestorer/SkinsRestorerX/releases/latest

[2021-03-19 18:53] #451 closed

[2021-03-25 01:33] HerrCraziDev commented on #399
Sorry for the delay, we had an issue with the server. I have been able to restore it and apply the changes you indicated. Everything works !

Thanks for your help ! ;)

[2021-03-25 01:34] #399 closed

[2021-03-27 01:38] khanghh opened #463 "SkinsRestorerAPI will not work on spigot server under bungee mode."
## Describe the bug
The SkinStorage has not been initialized when running spigot server under bungee mode. It cause null pointer exception when calling SkinsRestorerAPI methods which reference to `skinStorage`

## Steps to reproduce the behavior
1. Running spigot server under bungee mode
2. Calling SkinsRestorerAPI methods

## Server information
* SkinsRestorer: 114.0.2
* Spigot version: 1.15.2
*

[2021-03-27 10:04] xknat commented on #463
Hey there @khanghh
All commands, permissions, storage, config is done from bungee side.
The spigot one will go into listener to:
- open skins GUI
- apply the skin

[2021-03-27 10:06] #463 closed

[2021-03-28 20:57] RidaThe94 commented on #340
what about not having the original skin from geyser? can that be fixed?

[2021-03-28 20:59] xknat commented on #340
That would be a feature request which i think is already requested

[2021-03-28 20:59] #340 closed

[2021-03-31 17:12] xknat opened #465 "mis information when server is offline"
Server spit out wrong information when its offline
[code]

[2021-03-31 20:22] Farbmond opened #466 "Feature request: Different skins for different players"
Hi!

It would be fine, there is an option, so that every player have its own skin-set in gui (and not: every player see all available skins).
(Sorry, English is not my first language.)

I asked this on Discord and was asked to post here.

[2021-04-04 17:04] s1h4d0w opened #468 "Hacks + Worldguard + skin change = item dupe"
## Describe the bug
Players on my anarchy server can use speed and scaffold hacks in a protected worldguard region, do `/skin <name>` and whatever they used to scaffold with will turn into a stack of items

## How can we reproduce what you got?
Steps to reproduce the behavior:
1. Turn on scaffold hack
2. Turn on speed hack
3. Jump and run while scaffolding in a protected worldguard region where pl

[2021-04-04 17:26] xknat commented on #468
Hey there!
Thank you for taking your time to report this to us.
Sadly, i think this might be something that we can not improve / fix.
Do you know if this is only with skinsrestorer or any `entity.CraftPlayer -> refreshPlayer` (see our [PaperSkinRefresher.java](https://github.com/SkinsRestorer/SkinsRestorerX/blob/master/src/main/java/net/skinsrestorer/bukkit/skinfactory/PaperSkinRefresher.java))

[2021-04-04 17:30] s1h4d0w commented on #468
Honestly no idea, I understand what you’re telling me but I’m not a plugin dev and sadly don’t know java. Do you know of any other commands in general plugins such as essentials, worldedit, worldguard etc that trigger a refreshPlayer? Then I could have one of my players test if that works too (and take appropriate action with those plugins too).

[2021-04-04 17:31] xknat commented on #468
Lib's Disguises, changeskin

[2021-04-09 10:52] xknat commented on #468
@s1h4d0w any update on this?
I think it goes out of our scope.
I see your using paper, this means that your using [PaperSkinRefresher.java ](https://github.com/SkinsRestorer/SkinsRestorerX/blob/9ee1107a756fca571a898b89bf7e871e4ad17fef/src/main/java/net/skinsrestorer/bukkit/skinfactory/PaperSkinRefresher.java)
In there we use the following :
[code]
I think it then would be an issue for paper specif

[2021-04-09 11:00] s1h4d0w commented on #468
Sorry for not getting back to you, but I've tested with other plugins and the same issue happened. I've resorted to disabling the `/skin` command in worldguard regions which has for now stopped people abusing it. They might be able to still do it if they do it near a region border, but if that is the case I'll just disable the plugin altogether.

I reported the issue to Paper but they won't even l

[2021-04-09 11:25] xknat commented on #468
Make sure to include /skinsrestorer:skin

[2021-04-09 11:33] s1h4d0w commented on #468
Thanks, didn't think about that one! I'll close this as I don't think this is something you guys can fix.

[2021-04-09 11:33] #468 closed

[2021-04-12 11:32] xknat opened #476 "Make /sr createcustom syntax more clear to be skin name and not player"
admins should be informed that they should use /skin set player url to set a custom and not use /sr createcustom to set personal skin for player

[2021-04-13 12:24] pedrofracassi opened #477 "MineSkinAPI is overloaded, please try again later"
## Describe the bug
When trying to change a skin through an URL, plugin fails and outputs an error to the console. Does not seem to be related to MineSkin, as the API is working fine.

## How can we reproduce what you got?
Steps to reproduce the behavior:
1. `/skin https://www.minecraftskins.com/uploads/skins/2021/04/13/fire-and-ice-herobrine-gaming-skin-17456487.png?v393`

**Expected behavior**
P

[2021-04-13 12:40] xknat commented on #477
How many players were on the server at the time of the error?
also are you using a lot of skin urls? like defaultskins url?

[2021-04-14 20:55] pedrofracassi commented on #477
I don't know exactly, but it seems to happen regardless of how many players are online and/or trying to use the command. It is a small private server that I play with friends in. Don't think it ever got over 12 players concurrently.

My players usually grab skins from https://www.minecraftskins.com/ and use URLs to the skins from there.

---

I forgot to mention that using a username to set the sk

[2021-04-15 13:55] aljaxus commented on #477
Yes that is correct. MineSkin is used when there's a need to get a valid Mojang-signed skin file from an arbitrary image file.

[2021-04-15 14:17] xknat commented on #477
It seems to be that mineskin did add a spam checker when requesting the same skin over and over again.
Will need to see how this will need a rework

[2021-04-15 20:14] pedrofracassi commented on #477
It seems to happen even when requesting different skins from different URLs

[2021-04-17 11:06] Lerbiq opened #483 "v14.0.2 on Velocity can't connect to MySQL"
## Describe the bug
I recently started encountering issue with SkinsRestorer on 14.0.2 version running on Velocity. The plugin can't connect to the mysql database. The error message is just `Can't connect to MySQL! Disabling SkinsRestorer`.
After downgrading to 13.8.8 the plugin connects to the database without any issues and works as expected.
## How can we reproduce what you got?
Steps to reprod

[2021-04-17 12:12] xknat commented on #483
Will be handled on discord

[2021-04-17 12:12] #483 closed

[2021-04-20 20:12] xknat commented on #348
Not supported by the game.

[2021-04-20 20:12] #348 closed

[2021-04-21 21:16] xknat commented on #477
duplicate of https://github.com/SkinsRestorer/SkinsRestorerX/issues/434

[2021-04-21 21:16] #477 closed

[2021-04-23 10:15] #476 closed

[2021-04-23 10:17] xknat commented on #324
This seems to have been done in the recent commits.
It also does break compatibility with older versions that do not have getdatafolder.

[2021-04-23 10:17] #324 closed

[2021-04-23 19:44] xknat commented on #122
Hey there!
This is a follow up on this issue, did point out the following drawbacks that were on older vversions:

Has been resolved

having a skin with time 0 will now mark it as disable for update.

i don't think this is going to be a possibility, and even if it overlaps, a workaround is using skinurl.

[2021-04-23 19:44] #122 closed

[2021-04-27 16:21] nicknickeryt opened #494 "Feature request: add config entry to set BungeeCord mode manually"
SkinsRestorer detects if a BungeeCord is used. For Spigot it is done by checking `settings.bungeecord: true`.

However, I want to force SkinsRestorer to use BungeeCord mode because my `settings.bungeecord` is set to `false`. The purpose of doing it that (unsafe) way is to change `If you wish to use IP forwarding...` BungeeCord message to a custom message using additional plugin so that I don't hav

[2021-04-27 16:22] xknat commented on #494
This is done by override files.
Config is NOT loaded for backend.
see bukkit/skinsrestorer.java for the list

[2021-04-27 16:22] #494 closed

[2021-04-28 21:02] baticag commented on #317
Any news about this?

[2021-04-28 22:49] xknat commented on #317
Still planned, cooldown is currently working great, while there are some other things that need immediately be fixed / improved.

[2021-05-01 17:53] xknat commented on #356
@AfkF24 This should be fixed in https://github.com/SkinsRestorer/SkinsRestorerX/pull/496
![image](https://user-images.githubusercontent.com/10220139/116790837-d2108580-aab6-11eb-8ae4-c0de5ffaf53d.png)

[2021-05-01 17:54] xknat commented on #290
Update: This is due to the fact that the command replacement maps we use are both static and ImmutableMap.
This should increase performance vs the effect of sr reload by having the values cached??
Would need to do some performance testing on this as having to restart for small changes is not ideal.

[2021-05-01 19:01] AfkF24 commented on #356
@xknat Thanks! 👀

[2021-05-02 12:50] bejoeled opened #497 "/skin clear does not work on bedrock players with * prefix"
We have GeyserMC in our server and we're using * as prefix. /skin clear does not work on players with * and shows error "Error: *PlayerName is not a valid username or url".
![image](https://user-images.githubusercontent.com/10220139/116813805-fc655000-ab55-11eb-9551-d13d1651c262.png)

[2021-05-07 07:49] xknat opened #502 "improve mineskin api to catch better error and decide on when to retry"

[2021-05-15 16:53] x9nico opened #504 "SkinsRestorer incompatible with latest ViaVersion dev builds"
## Describe the bug
A clear and concise description of what the bug is.

Error when Player join with ViaVersion v4.0.0 (dev build).

## How can we reproduce what you got?
Steps to reproduce the behavior:
1. Use latest dev build of ViaVersion (4.x)
2. Start your server
3. Join your server
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

N/A

## Server info

[2021-05-15 17:54] xknat commented on #504
@x9nico are you using the dev build of viaversion?

[2021-05-15 17:55] xknat commented on #504
We dont support their dev build.

[2021-05-15 17:55] #504 closed

[2021-05-15 17:59] x9nico commented on #504
Before the latest builds works with ViaVersion.
I must use the dev builds to run ViaVersion with Java 16.

[2021-05-15 20:48] xknat commented on #504
ask them to release it faster.

[2021-05-15 21:35] x9nico commented on #504
I think it will be released when 1.17 will be released.

[2021-05-17 16:15] OnKava opened #505 "Hex color Support (Ansi)"
Hi, can you add Support for hex, in best case Cmi Hex **{#HEX}**, and can you add hex fade **{#Hex>}Text{#Hex<}**

[2021-05-18 08:37] andris155 opened #506 "Fastlogin plugin break SkinsRestorer skin update in premium mode"
## Describe the bug

If I enable premium mode in the Fastlogin plugin SkinsRestorer /skin name or /skin set name name commands no update the skin.

## How can we reproduce what you got?

1. Install the Fastlogin and the Skinsrestorer to the Bungee and server.
2. Disable join skins in Skinsrestorer.
3. Login to the server and enable premium mode.
4. Relogin.
5. /skin name or /skin set name name com

[2021-05-18 11:33] xknat commented on #506
@andris155 did you disable the forward skin option in fast login?

[2021-05-18 13:40] andris155 commented on #506
Yes.

[2021-05-23 22:45] xknat opened #508 "mysql not working for velocity"
working on c6ad84374112eabb6fe5d4cc0bf78c83e94e3d35

[2021-05-26 13:13] 4drian3d opened #511 "Velocity 3.0.0 Support"
## Describe the bug
SkinsRestorer is not compatible with Velocity 3.0.0, which is a successor version of Velocity 1.1.x with few changes that may break compatibility.
In this case, due to https://github.com/VelocityPowered/Velocity/commit/977300cc66af91cdf88bff38f487a8e3207e33d7 it breaks compatibility, as it removes apis that were deprecated a long time ago.

## How can we reproduce what you got?

[2021-06-02 00:19] uRyanxD opened #512 "Replace Java 11 with Java 16!"
With new dependence on Java 16+ as of Minecraft 1.17

https://www.minecraft.net/en-us/article/minecraft-snapshot-21w19a

[2021-06-02 08:00] xknat commented on #512
@uRyanxD did you even test it working?
Please do not create issues if there are no confirmed issues as this issue is based on the assumption that its not gonna work.

[2021-06-02 08:00] #512 closed

[2021-06-02 10:16] xknat opened #513 "Changing skin in new java launcher will not always work with /skin update"
because its not uploaded to mojang right away to mojang and the api will also cache it.

[2021-06-04 22:18] FuniverseMinnesota opened #514 "[Feature Request] Categories/Filter in the /skins panel"
Basically just an option to categorize skins into different tabs in the /skins menu. For context: I have a small server where it's kinda a roleplay and we have multiple maps where people build countries. I've made multiple skins for everyone's made up country and it'd be nice if I could put them into a separate page instead of just being listed along with every other persons' skin who joined.

[2021-06-07 18:31] x9nico commented on #504
Hello, the 4.0.0 of ViaVersion has been released. Can you do an update to fix the error please ?

[2021-06-07 18:36] x9nico commented on #504
Thanks for your fast answer. I hope that the fix will be released fast :)

[2021-06-08 16:00] x9nico opened #515 "ViaVersion 4.0.0 support"
Describe the bug
A clear and concise description of what the bug is.

Error when Player join with ViaVersion v4.0.0.

How can we reproduce what you got?
Steps to reproduce the behavior:

Use latest build of ViaVersion (4.x)
Start your server
Join your server
See error
Screenshots
If applicable, add screenshots to help explain your problem.

N/A

Server information
On what platform does your server

[2021-06-08 17:19] xknat commented on #515
There was no need to close the past ticket and create a new one.
i work ascending on date.

[2021-06-08 19:53] Logics4 commented on #512
Just to add upon this: Newer versions of Java are able to run older version's code with (mostly) no problems.

The only potential problems we could face are with certain types of reflection (like changing `final` fields) that got forbidden in Java 16. I don't recall us doing any of that, though?

Either way, please come back with a console log when you find any issues.

[2021-06-09 22:46] thebrokenace opened #516 "Ability to change nametag on head when skin is changed"
I think it would be pretty cool to have this, to make a perfect disguise.
Thanks.

[2021-06-09 22:59] xknat commented on #516
We could hook into existing plugins or use our own code / other project code

[2021-06-11 00:11] BautistaIza opened #521 "Al entrar un jugador aparece el siguiente error"
Al entrar un jugador aparece el siguiente error
When a player enters the following error appears

[SkinsRestorer] Task #4853 for SkinsRestorer v14.0.2 generated an exception
java.lang.NoSuchMethodError: 'us.myles.ViaVersion.ViaManager us.myles.ViaVersion.api.Via.getManager()'
        at net.skinsrestorer.bukkit.skinfactory.OldSkinRefresher.accept(OldSkinRefresher.java:279) ~[?:?]
        at net.sk

[2021-06-11 00:49] 4drian3d commented on #521
Actualiza SkinsRestorer
Update SkinsRestorer
https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/43/artifact/target/SkinsRestorer.jar

[2021-06-11 07:51] xknat commented on #521
github is english only. please do never post non english ticket.

[2021-06-11 07:51] #521 closed

[2021-06-11 07:52] xknat commented on #515
#517 should resolve this issue, you can download this dev build from https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/lastSuccessfulBuild/artifact/target/SkinsRestorer.jar

[2021-06-11 07:52] #515 closed

[2021-06-11 08:36] x9nico commented on #515
It works. Thanks !

[2021-06-11 14:56] matteoturini opened #524 "Not working on Spigot 1.17"
## Describe the bug
Error on the console

## How can we reproduce what you got?
Steps to reproduce the behavior:
Use SkinsRestorer on Spigot 1.17.

**Expected behavior**
It works.

## Server information

**On what platform does your server run? (Bungeecord/Spigot/Bukkit)**

**What version? Do NOT answer LATEST**
* SkinsRestorer: 14.0.2
* Spigot version: 1.17 R-0.1
* Bungeecord version: N/A
* IF bu

[2021-06-11 14:58] AlexProgrammerDE commented on #524
We are aware of the issue and are gonna  look into it soon. Spigot 1.17 just released and we have to check and test everything first. Imma pin this issue.

[2021-06-14 15:35] hank9999 opened #534 "How to get SkinStorage in bungeecord"
Hi, I am developing a plugin to set skin from skin website via SkinsRestorer
But I have some trouble getting SkinStorage API

In old version, i do this
[code]
But now I can find any way to get it.
Is there a way to get it?
Thanks a lot.

[2021-06-14 15:50] AlexProgrammerDE commented on #534
SkinStorage was never intended to be used by devs. Please use our API instead: https://github.com/SkinsRestorer/SkinsRestorerX/blob/master/src/main/java/net/skinsrestorer/api/SkinsRestorerAPI.java
It wraps around the most important parts of what SkinStorage can do.

[2021-06-14 23:02] hank9999 commented on #534
So, is there any way to use MineSkinApi returned skin data in bungeecord?
Thanks a lot.

[2021-06-15 05:51] xknat commented on #534
Currently not, but it's planned.
We added a MineskinAPIKey feature in #533 which could allow us to open API without being at risk of abusing the API.

[2021-06-15 07:14] hank9999 commented on #534
Ok, thanks.

[2021-06-15 07:14] #534 closed

[2021-06-16 22:37] xknat commented on #524
cosed by https://github.com/SkinsRestorer/SkinsRestorerX/pull/530

[2021-06-16 22:37] #524 closed

[2021-06-17 19:11] AirCraze opened #541 "MASSIVE 1.16 issue!"
## Describe the bug
A clear and concise description of what the bug is.
ViaVersion issue
## How can we reproduce what you got?
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
[15:07:31 WARN]: [SkinsRestorer] Task #2136 for SkinsRestorer v14.0.2 generated an exception
java.lang.NoSuchMethodError: 'us.myles.ViaVersion.ViaManager us.myles.ViaVe

[2021-06-17 19:19] xknat commented on #541
Github only support latest dev build right now

[2021-06-17 19:19] #541 closed

[2021-06-18 19:46] x9nico opened #544 "[Bug] [Spigot 1.17] Error when Player join"
## Describe the bug
A clear and concise description of what the bug is.

Hello, when a Player join the server, it does error in logs.

## How can we reproduce what you got?
Steps to reproduce the behavior:
1. Set the plugin on your server
2. Start your server
3. Join your server
4. See your logs (you can see the errors in the pastebin link)

## Server information

**On what platform does your serv

[2021-06-18 19:54] xknat commented on #544
@x9nico Hey there!
Thank you for taking your time, could you tell us what your build number is and also test it on build number 51d72a315deeeec313887e24c530daa466326afe with the jar https://github.com/SkinsRestorer/SkinsRestorerX/suites/3031387861/artifacts/68766377

[2021-06-18 20:03] x9nico commented on #544
I don't remember the number of build, it contains the PR #517 when I reported the error for 1.17 players with ViaVersion 4.0.0.
It looks like I don't have the error in this build. Thanks!

[2021-06-18 20:43] #544 closed

[2021-06-21 04:19] xknat opened #548 "SR v14.1 genSkin(MineSkinAPI.java:141) spam"

[2021-06-21 04:23] xknat opened #549 "(might) not be working with latest paper MC 1.17 on release"
There was a starting error in console:
Since paper is not officially out yet for production, we will wait for this release.

[code]

[2021-06-21 13:38] xknat opened #550 "distribute updater time on github rate limit"
I see that github does ratelimit for some servers giving firewall errors while they are just being rate limited.
On a rate limit (http error 404)
we should increase the time to a way longer time (2x in 24 in random time), so this wont occur as often for shared networks.

[2021-06-21 15:47] xknat opened #551 "SkinApplyBukkitEvent may only be triggered asynchronously"
since SR v14.1 there is a issue with the api when using applySkin:
Error:
https://hastebin.com/jerodahuce.rb

Code:
https://discord.com/channels/186794372468178944/856542176657670204/856543164520595476

[2021-06-21 20:04] xknat commented on #548
Issue should be fixed by #552 -> dev build 70 https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/

[2021-06-21 20:05] xknat commented on #551
Issue should be fixed by #552 -> dev build 70 https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/

[2021-06-22 02:29] ShulkerSakura opened #553 "Please adapt Minecraft 1.17 (Bukkit/Spigot)!"

[2021-06-22 02:30] ShulkerSakura commented on #553
I mean update your website

[2021-06-22 02:30] #553 closed

[2021-06-22 05:12] xknat commented on #553
which one?

[2021-06-22 05:16] ShulkerSakura commented on #553
When i last time to check skinrestorer.net , It still stays in the update 3 months ago

[2021-06-23 15:38] xknat opened #556 "make updater retry on http 404 error."

[2021-06-26 11:05] WaysFX opened #560 "Compatibility with ProtocolSupport"
1. Install SkinsRestorer
2. Install ProtocolSupport
3. Try to change the skin when there are entities near you
4. And just enjoy, all the entities nearby were broken (They don't move or do anything anymore)

[2021-06-26 13:41] xknat commented on #513
resolved by #554

[2021-06-26 13:41] #513 closed

[2021-06-26 14:30] xknat opened #562 "skin update on cleared & non valid mojang username will return INVALID_PLAYER"

[2021-06-27 09:04] PhoeNicZz opened #563 "SkinsRestorer isn't working"
I have installed SkinsRestorer onto my server, which is running Fabric and Spigot on 1.16.5. I have installed the latest version, however none of the commands seem to actually do anything. When I add a custom skin nothing happens and the skins folder in the plugin's folder stays empty, as well as the players folder.  Am I missing something?

[2021-06-27 09:11] xknat commented on #563
1. you did not use the template
2. github is for coding issues and not support, for support use discord
3. Fabric is not one of the listed supported implementations. so no support will be given here or on discord1

[2021-06-27 09:11] #563 closed

[2021-06-27 12:52] xknat commented on #548
Should be resolved with #558

[2021-06-27 12:52] #548 closed

[2021-06-30 14:05] xknat commented on #511
Planned, we will wait till it comes out officially

[2021-07-02 21:27] xknat opened #571 "defaultskins issue with url skins"
from spigotmc: https://www.spigotmc.org/conversations/skinsrestorer-bug.465680/
Hello, SRTeam.
I encountered a bug using skinsrestorer,

Enable this feature when I modify the configuration file config.yml:

DefaultSkins:
Enabled: true

Then enter the server and the console reports an error:
[17:40:30 WARN]: [SkinsRestorer] Plugin SkinsRestorer v14.1.1 generated an exception while executing task 42

[2021-07-02 22:07] #571 closed

[2021-07-02 22:07] xknat commented on #571
resolved in DEV 82: https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/82/artifact/target/SkinsRestorer.jar

[2021-07-02 22:09] xknat opened #574 "MC 1.14 missing Dimension Manager causing issues at skinapplierBukkit"
![image](https://user-images.githubusercontent.com/10220139/124332909-ff4ee200-db92-11eb-980c-b6fb6ed97013.png)

[2021-07-03 08:10] xknat commented on #574
Resolved by b26d906cd064e1ef5182ac28a64b663713732f3f
Get latest Dev build from https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/

[2021-07-03 08:10] #574 closed

[2021-07-04 12:07] Hugytor09YT opened #577 "The plugin Dont create any folder and i cant see my skin"
## Describe the bug
I cant see my skin and the plugin dont create any folder plugin.

## How can we reproduce what you got?
Steps to reproduce the behavior:
1. Start the server and join with a premium account.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

## Server information

*

[2021-07-04 12:20] xknat commented on #577
1.7.10 is not a supported version.

[2021-07-04 12:20] #577 closed

[2021-07-05 23:01] #397 closed

[2021-07-05 23:02] #356 closed

[2021-07-05 23:02] xknat commented on #362
should be resolved now, thanks

[2021-07-05 23:02] #362 closed

[2021-07-06 10:15] 4drian3d commented on #511
Velocity 3.0.0 has just been released a few hours ago. https://forums.velocitypowered.com/t/velocity-3-0-0-and-1-1-9-released/821

[2021-07-06 10:22] xknat commented on #511
We know thanks https://github.com/SkinsRestorer/SkinsRestorerX/pull/581

[2021-07-06 10:26] yuompioka opened #582 "Using SkinsRestorer on 1.17 breaks require-resourcepack feature"
## Describe the bug
Installing and using SkinsRestorer on 1.17 breaks require-resourcepack feature somehow.

## How can we reproduce what you got?
Steps to reproduce the behavior:
1. Run latest Paper 1.17 build
2. Install SkinsRestorer
3. require-resourcepack=true in server.properties
4. Join the server, the window of confirmation won't appear and resourcepack won't be loaded

**Expected behavior*

[2021-07-06 10:32] xknat commented on #582
Hey there!
Thank you for opening a ticket.
Sadly, we can't see if there is a pending texturepack approval from bungee side, so we are checking how this can be accomplished.

That being said, if you use bukkit only you can use following workaround:
There is a plugin that can run a command when it's approved. You could disable on join skins and run /sr applyskin when the texturepack is set

[2021-07-06 10:35] yuompioka commented on #582
Oh I didn't thought about that. Thanks anyway. I'll write my own script for this

[2021-07-06 23:16] KevstaRU opened #586 "SkinsRestorer 14.1.1 Error"
1. I'm launching the Velocity proxy server
2. I connect and write a command /skin
3. error in the console and nothing happens
4. See error

## Server information
On what platform does your server run? (Proxy -> Velocity + tuinity)

* SkinsRestorer: 14.1.1
* Spigot version: minecraft 1.16.5
* Velocity version: 3.0.0
* IF bungee, did you put the plugin on all servers: Yes
* Java: 16
* plugin list bu

[2021-07-06 23:18] xknat commented on #586
We don't yet support Velocity version: 3.0.0.
Please follow the status of https://github.com/SkinsRestorer/SkinsRestorerX/issues/511

[2021-07-06 23:18] #586 closed

[2021-07-12 16:23] FPSUsername opened #593 "Placeholder API extension NullPointerException"
## Describe the bug
Placeholder API reports a NullPointerException when loading the SkinsRestorer expansion.

## How can we reproduce what you got?
Steps to reproduce the behavior:
Install [SkinsRestorer](https://www.spigotmc.org/resources/skinsrestorer.2124/) and [PlaceholderAPI](https://www.spigotmc.org/resources/placeholderapi.6245/) plugins

Install the extension through the papi command:
1. S

[2021-07-12 16:34] xknat commented on #593
Are you using our example? If so what version?

[2021-07-13 08:04] xknat commented on #593
@FPSUsername Any update on this?

[2021-07-13 08:38] FPSUsername commented on #593
I don't think I'm using the papi methods anywhere for this plugin, I checked my plugins (such as TabList), so technically I don't need this expansion.
This error log just seems to happen on my server. I did not test it on an empty fresh server though.

[2021-07-13 09:07] xknat commented on #593
backend is in bungee mode?
if so, it has no database..

[2021-07-13 09:36] FPSUsername commented on #593
I do not use bungee/waterfall, just a single standalone server.

[2021-07-13 20:55] LucidAPs opened #595 "SkinsRestorer under stress crash"
Console error
https://nekobin.com/hibixoyoki

During an attack skinsrestorer brings the whole network down.
https://nekobin.com/hibixoyoki

Java 16
Waterfall #445
SkinsRestorerX-DEV #92
Plugins:
AntiBot, AuthMeBungee-2.2.0-SNAPSHOT, BungeeGuard, LiteBans, LuckPerms-Bungee-5.3.51, MyCommand_BungeeCord, nuvotifier, SkinsRestorer, TAB_Premium_v2.9.2, VentureChat, VotingPlugin

Config: https://nekobin

[2021-07-13 20:57] xknat commented on #593
java.lang.NullPointerException: The expansion version is null!
can you delete it and manual download the latest version?

[2021-07-13 22:16] FPSUsername commented on #593
Tried that, but didn't work. I downloaded it manually from eCloud and tried it as well again with the papi command.

[2021-07-13 22:20] xknat commented on #593
TY, i will look into this.
DEV notes: https://github.com/SkinsRestorer/SRPlaceholderAPIExpansion/commit/1e6244c54f37c50e66ec26550b3e9b65f7007b72#diff-6b392383fd4d6674d56d04bb6bac42b6a0e20d002628763b649853b8cd4250ffL46-R36

[2021-07-14 15:23] xknat opened #596 "irregularity's with skin update"
We get reports of /skin update not overriding the skin update, could this be because of the new skin apply?

[2021-07-26 17:04] VojtaG opened #599 "SkinsRestorer - help message is not configurable"
**Screenshots**
If applicable, add screenshots to help explain your problem.

![unknown](https://user-images.githubusercontent.com/56306485/127027965-72e04fa7-76db-4e8a-8ef4-c51013b976d3.png)

## Server information

**On what platform does your server run? (Bungeecord/Spigot)**

**What version? Do NOT answer LATEST**
* SkinsRestorer: 14.1.1
* Spigot version: 1.16-1.17
* Bungeecord version: 1.17
*

[2021-07-26 17:35] xknat commented on #599
Not a coding issue.
for support, pls join our discord.
tip: we have a wiki page covering locale / translating ;)

[2021-07-26 17:35] #599 closed

[2021-07-27 14:49] EkonC commented on #599
Yeah, this is a coding issue @xknat.
There is no place where this message can be changed in messages.yml I think.

[2021-07-27 15:44] xknat commented on #599
did you read the wiki?
this is definitely not a coding issue.
make sure you look into acf file also.
join our discord for support, make sure you read our wiki first

[2021-07-27 15:45] xknat commented on #599
like guys, cmon man.
even doing a simple search shows where it is..........
![image](https://user-images.githubusercontent.com/10220139/127185081-e2e7cbf2-6b19-44ee-bbc0-7cafd2e8e599.png)

[2021-07-27 16:11] xknat opened #600 "[plugin incompatibility] oraxen"
Update: Should be fixed in their 1.158.0 version.
----
We seem to not support oraxen gesture option.

---

oxagen is a paid plugin that allows custom items by using custom texutrepack that will convert unique mushroom stems

Skinsrestorer does currently not go well with texture packs causing compatibility issues.

https://github.com/oraxen/oraxen
https://www.spigotmc.org/resources/%E2%98%84%EF%B8%

[2021-07-30 19:17] #284 closed

[2021-07-30 19:18] AlexProgrammerDE commented on #511
Will be included in next update.

[2021-07-30 19:18] #511 closed

[2021-07-30 19:19] AlexProgrammerDE commented on #508
Been resolved in latest dev.

[2021-07-30 19:19] #508 closed

[2021-07-30 19:21] AlexProgrammerDE commented on #549
1.This is an issue because a plugins skinsrestorer dependency and the actually installed skinsrestorer being out of sync.
2. We fully support 1.17 at the moment

[2021-07-30 19:21] #549 closed

[2021-07-31 22:33] Gignik opened #603 "I would like to change the "[help] " in this line /skin help or completely remove it in the config."
Unfortunately, after changing all the lines in the plugin to another language, the line "/skin help " remains, where "[help] " cannot be changed to another language. Please allow me to change the line "[help] " to other languages, because it looks very strange and does not correspond to the translated text in another language and stands out very much (see the screenshot). In general, I think that

[2021-07-31 22:34] Gignik commented on #603
![image](https://user-images.githubusercontent.com/51925511/127753917-bd92741a-92b1-406a-a66c-f162df4f0caa.png)

[2021-08-07 13:53] cmod31 opened #604 "Incompatible with ProtocolSupport Edit: and also AntiAura AntiCheat"
## Describe the bug
First there is [this issue](https://github.com/ProtocolSupport/ProtocolSupport/issues/1351) but it was closed because its an SkinRestorer incompatibility.
-Entitys don't move when i want to use ProtocolSupport on the same server with SR.
-Entitys are sometimes invisible but visible for some players.
-Sometimes just the entity/player model doesn't move but makes particles and so

[2021-08-07 13:59] xknat commented on #604
@cmod31 can you confirm on latest dev build?

[2021-08-07 15:37] xknat opened #605 "velocity error "because the return value of getSkinApplierVelocity() is null""
https://discord.com/channels/186794372468178944/186794372468178944/873477339672113184

[16:00:10 ERROR]: Couldn't pass GameProfileRequestEvent to skinsrestorer
java.lang.NullPointerException: Cannot invoke "net.skinsrestorer.velocity.SkinApplierVelocity.updateProfileSkin(com.velocitypowered.api.util.GameProfile, String)" because the return value of "net.skinsrestorer.velocity.SkinsRestorer.getSkin

[2021-08-07 18:48] cmod31 commented on #604
What do you mean? I listed the versions there

[2021-08-07 18:57] xknat commented on #604
@cmod31 can you try from our dev branch? -> https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/

[2021-08-07 19:20] cmod31 commented on #604
Tomorrow yeah

[2021-08-07 19:38] cmod31 commented on #604
ok i did it now already so you can close it if its actively fixed in the dev builds

[2021-08-07 19:50] cmod31 commented on #604
ok everything works fine for me thx

[2021-08-07 22:20] cmod31 commented on #604
Ok its still an issue but it doesn't acue that often anymore but i have to delete protocolsupport for now because server restarts don't fix this issue

[2021-08-08 13:38] xknat opened #606 "[plugin incompatibility] haonick & nick api"
![5](https://user-images.githubusercontent.com/10220139/128633849-0b06a223-b2bd-4281-a6ad-e0f42e060153.png)

[2021-08-08 16:39] ChiAkuma opened #607 "Velocity 3.0.0 not supported"
## Describe the bug
I use Velocity 3.0.0 and it says every time:

Couldn't pass ProxyInitializeEvent to skinsrestorer
java.lang.NoClassDefFoundError: net/kyori/text/format/TextColor

And i didnt found any velocity 3.0.0 detection in the code so i assume its not supported yet

## How can we reproduce what you got?
Steps to reproduce the behavior:
Use Velocity 3.0.0 and Skinsrestorer 14.1.1 and star

[2021-08-08 16:45] AlexProgrammerDE commented on #607
Please use one of our dev builds: https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/lastBuild/artifact/target/SkinsRestorer.jar
We will be releasing our dev branch soon. (velocity 3.0.0 support)

[2021-08-08 16:45] #607 closed

[2021-08-08 17:54] xknat commented on #603
after looking at acf docs, this cant be done afaik, would need to ask to be sure

[2021-08-09 06:45] AlexProgrammerDE commented on #605
The real issue is hidden because an error n the initialization of the config/commands failed.  Linked PR will initialize everything in a safe environment earlier.

[2021-08-09 06:46] #605 closed

[2021-08-11 19:47] xknat opened #613 "hard code steve & alex skins"
hard code & override `/skin steve` & `/skin alex` as well as

[2021-08-11 20:05] #596 closed

[2021-08-12 00:29] xknat opened #615 "[plugin incompatibility] fastlogin*bungee* (newer versions)"
It seems to be that newer versions of skinsrestorer stopped supporting fastlogin.
- [ ] check since which version skinsrestorer stopped co-working
- [ ] Check since which commit skinsrestorer stopped co-working
- [ ] what is the version of fastlogin, was it a older version?

[2021-08-12 06:43] swordin commented on #243
Hello,

Could you please help one’s again?

The plugin is still forcibly updated instead of the parameter:
# Enable or disable the updater.
Updater:
  Enabled: false
  PeriodicChecks: false

Tonight there was an unauthorized update again today into 14.1.2.
The new version 14.1.2 doesn’t work properly in my 1.11.2-server:

[04:00:23] [Server thread/INFO]: [SkinsRestorer] Enabling SkinsRestorer v14.

[2021-08-12 06:56] TheAmazingZote commented on #243
On the discord they said to create a file named "noupdate.txt" in the SkinsRestorer plugin folder

[2021-08-12 06:58] swordin commented on #243
Wow! Than you for your lightning fast response )))

Just empty file named «noupdate.txt»?

[2021-08-12 06:59] TheAmazingZote commented on #243
Yes, a empty file should do it

[2021-08-12 07:00] swordin commented on #243
Thank you verrrry much! )

[2021-08-12 20:08] NibiruGamer opened #618 "Invalid discord invite"
discord invite http://skinsrestorer.net/discord and https://discord.me/skinsrestorer is invalid, please fix it

[2021-08-12 20:27] xknat commented on #618
works for me.
you sure your not banned?

[2021-08-12 20:29] NibiruGamer opened #619 "Is possible to add this?"
Is possible to add permissions from servers pex config separatelly (doesn't allow to change skin on gungame but allow on lobby)
on skinsrestorer bungee mode? because using bungee pex is not good and compatible with sexypex pex fork ,,, and i want to add allow to change skin only for premium user and i don't want to manual adding permission in bungee config ....

[2021-08-12 20:30] xknat commented on #619
use luckperms per server permissions

[2021-08-12 20:42] NibiruGamer commented on #618
I don't understand why anyone should ban me .... and I don't even remember being on that discord server ...

[2021-08-12 20:43] NibiruGamer commented on #619
luckperms is shit and still not fixing my problem, I'm tested it ....

[2021-08-12 20:44] NibiruGamer commented on #618
If i really banned, is exist unban form or something like this?

[2021-08-12 20:46] TheAmazingZote commented on #619
LuckPerms is pretty good and handy, probably you didnt configurate it correctly

[2021-08-12 20:46] xknat commented on #618
https://discord.gg/cXVZdJJc
try this link, will expire after 7 days

[2021-08-12 20:46] #618 closed

[2021-08-13 06:26] joex92 opened #620 "[Feature Request] Ely.by skin support"
Hi, I used to use a lot this plugin, but then found Ely.by and found it better (for newcomers mc users) because you don't need to use a link or a specific mc online username but just go to Ely.by page and change the skin there...
I noticed Ely.by offers an [API](https://docs.ely.by/en/index.html), so I wanted to know if it could be possible to add Ely.by support to the plugin, because I tried usin

[2021-08-13 07:37] xknat commented on #620
we will likely use another website then el.by since el.by is run by tlauncher afaik... and they are ignoring us

[2021-08-13 10:48] imDaniX commented on #620
Ely.by is actually a standalone project. TL Legacy (the original TLauncher) has an option to turn this system on, but the TLauncher is using its own and is selling HD skins and capes. TL;DR, TLauncher guys created a fake company and took down the original TL, they also took down some random launcher for Terraria with the same name.

[2021-08-13 10:49] xknat commented on #620
Hmmm, will look into it,
It fly depends on how their layout is to be honest

[2021-08-13 15:09] joex92 commented on #620
yeah, Ely.by is standalone, they have their own skin plugin: https://ely.by/server-skins-system
I believe there was 1 other plugin using their api, but I don't quite remember...
anyways, the Ely.by api gets the skins from mojang first (if they user is premium) and then it fallbacks to ely.by, but it needs a `serverKey` to be able to get the skins from ely.by, and it's easy to get one, the server o

[2021-08-13 15:55] NibiruGamer opened #621 "Is this possible?"
is there an official way to set skins via web? for players

[2021-08-13 17:22] xknat commented on #621
Skinsystem from rithflow

[2021-08-14 06:53] Herobrine-Minecraft-YouT opened #622 "Errors on the magma server"
When I was making the server on the magma, the errors shown in the screenshot appeared.

Steps to reproduce the behavior:
1. Download Magma
2. Make server
3. Download SkinsRestorer and put it to plugins folder
4. Start server and See error

**Expected behavior**
I thought it would work because I was doing a server on magma 1.12.2 before and everything worked.

**Screenshots**
https://cdn.discordap

[2021-08-17 12:06] download042 opened #624 "Defaultskinserror when the default custom skin is not present as a skin file"
DEV notes:
Error when only default skin gets removed
[code]

-------
There is a console error when a player joins to the server.

PaperSpigot 1.16.5
* SkinsRestorer: 14.1.3
* Java: 11.0.11
* plugin list spigot:
![image](https://user-images.githubusercontent.com/13710574/129721844-3465c460-58b7-4f34-9478-739a58e544a5.png)

## Logs
https://pastebin.com/D8j96tSx

[2021-08-17 12:33] xknat commented on #624
@download042 skinsrestorer config?
what is your default skins skin file?

[2021-08-17 13:10] download042 commented on #624
@xknat
my config: https://pastebin.com/uQVMYvh2

What do you mean?

[2021-08-17 13:14] xknat commented on #624
you did enable
[code]
with the name "teszt"
can i see "teszt" skin file?

[2021-08-17 13:18] download042 commented on #624
I have no file with such name. Should it be?

[2021-08-17 13:32] xknat commented on #624
well, there is your issue...
you can only enable the default skin if you have the skin file

[2021-08-17 13:40] download042 commented on #624
Aight, thanks man!

[2021-08-17 15:55] xknat commented on #624
can confirm:
[code]

[2021-08-17 18:09] #624 closed

[2021-08-17 18:23] xknat commented on #622
unsupported implementation

[2021-08-17 18:23] #622 closed

[2021-08-17 18:29] xknat commented on #619
i mean,,,, if you can't permissions, maybe consider watching a tutorial.
Its not we are running a playground

[2021-08-17 18:29] #619 closed

[2021-08-17 18:30] xknat commented on #619
PS, github is for bugs, use discord for support!

[2021-08-21 08:39] #621 closed

[2021-08-21 08:44] xknat opened #629 "mineskin queue can cause thread overflow."
When MineSkin is offline or having issues, SkinUrl can overflow causing a thread crash.
- [ ] Add a (configurable) que limit -> Locale.wait_a_minute
- [ ] flush que when api is down -> Locale.API is overloaded

[2021-08-22 10:46] xknat opened #631 "Online mode bungee stopped working"
working => 14.0.2
Stopped working: 14.1.0+

current workaround: enable multibungeemode in skinsrestorer config.yml

[2021-08-25 04:48] renovate[bot] opened #632 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency com.google.code.gson:gson to v2.8.8](../pull/628)
 - [ ] [Update dependency org.spongepowered:configurate-yaml to v4.1.2](../pull/623)

---

- [ ] Check this box to trigger a request for Renovate

[2021-08-28 18:32] xknat opened #636 "Per server skin (Bungeecord)"

[2021-08-28 18:40] xknat opened #637 "Add 🏓 to PluginMessageChannel to count connected bungee / backend."
might be usefull for /sr status since it's sometimes hard to sell if we have a open PMC connection.

[2021-08-28 18:46] xknat opened #638 "Get rid of com.google.gson.JsonElement"
Use Gson:
- [ ] `MineSkinAPI.java`

[2021-08-29 07:00] AlexProgrammerDE commented on #424
There is 0 reason to use a bugged old bungeecord version. We don't support 1.7.10 either way so why bother having support for an old version that didn't drop 1.7.10 already. As this is kinda a bugged official API by bungeecord it shouldn't be our problem. Everyone interested in fixing this just has to update his bungeecord. (which has 0 downturns) Well, imma close this issue now.

[2021-08-29 07:00] #424 closed

[2021-08-30 16:45] xknat commented on #631
Should be fixed by https://github.com/SkinsRestorer/SkinsRestorerX/pull/634

[2021-08-30 16:45] xknat commented on #615
Should be fixed by https://github.com/SkinsRestorer/SkinsRestorerX/pull/634

[2021-08-30 16:45] #615 closed

[2021-09-03 13:46] xknat opened #645 "Exclude backend server from command's (/ PMC) [Auth Server]"
- [x] Add a way to exclude a backend auth server from performing any command or interacting with pmc.

[2021-09-03 13:47] xknat opened #646 "add option to not interfere with skins on online mode servers on clean join"
if the skin is a cached version of the players premium skin, we should do nothing and let let mojang do it's things.
This should be a optional way or possible fall back when mojang service is down and we still have skin data in cache.

[2021-09-05 19:27] xknat commented on #620
`http://skinsystem.ely.by/textures/signed/{USERNAME}?unsigned=false` to get mojang signed skin info.
Source: https://docs.ely.by/en/skins-system.html#url

This can be done since we now use the single request, so a override is "possible"

[2021-09-05 19:29] xknat commented on #593
Hey there, can any one let me know if this issue is still there?

[2021-09-05 19:42] xknat commented on #417
Already merged

[2021-09-05 19:42] #417 closed

[2021-09-05 19:44] xknat commented on #311
This should have been improved by a lot. will look into this again

[2021-09-05 19:46] xknat commented on #339
fixed with https://github.com/SkinsRestorer/SkinsRestorerX/pull/634

[2021-09-05 19:46] #339 closed

[2021-09-06 09:44] FPSUsername commented on #593
It still happens when I install the extension using the papi command.

[code]

[2021-09-06 09:55] xknat commented on #593
@FPSUsername can you mention me on our discord server, got a possible fix

[2021-09-06 17:28] xknat commented on #593
fixed 1.4 -> with https://api.extendedclip.com/expansions/skinsrestorer/versions/skinsrestorer-14/

[2021-09-06 17:28] #593 closed

[2021-09-10 11:08] revkilleri opened #655 "New version of Skinsrestorer incompatibility - PaperSkinRefresher (paper 1.11.2)"
## Describe the bug

We used skins restorer without problems for many months, unfortunately after the last automatic updates the plugin stopped working.

## How can we reproduce what you got?
Steps to reproduce the behavior:
Combination of paper (Paper version git-Paper-1104 (MC: 1.11.2) (Implementing API version 1.11.2-R0.1-SNAPSHOT)) and last versions of SkinsRestorer

**Expected behavior**
Upda

[2021-09-10 11:09] xknat commented on #655
@revkilleri should be resolved in dev build

[2021-09-10 11:32] revkilleri commented on #655
It would be great! :)

[2021-09-10 12:15] revkilleri commented on #655
It seems that the dev version already works great. Great job! Thank you!

[2021-09-10 15:10] #655 closed

[2021-09-12 10:10] MoGGaming opened #663 "can you please add cooldown for different groups different cooldown"
Like group A can change there skin in 1 day
group B can change there skin in every 3 days
it will be better if it  possible

[2021-09-14 13:12] aljaxus opened #666 "Update SpigotMC page"
* https://www.spigotmc.org/resources/skinsrestorer.2124/

### What to do

Replace
```best to just use "shiginima launcher" as its modless```
with
```best to just use "MultiMC-cracked" as its modless```

### Why?

Because shiginima launcher is no longer maintained and we are already recommending MultiMC for some time now via the support channels.

[2021-09-14 14:52] xknat commented on #666
done

[2021-09-14 14:52] #666 closed

[2021-09-15 08:36] vaporvee commented on #604
Its still an issue is there something new about this? I really need protocol support

[2021-09-15 21:25] joex92 commented on #620
so is it going to be implemented? or is it already in the last release?

[2021-09-15 21:50] xknat commented on #620
undecided, but it's possible.
Just thinking about making it a config option of fully customizable api string

[2021-09-15 22:05] joex92 commented on #620
Yeah, you could add an API option and put yours (the one you usually use) as default and commented out the ely.by one as an example how to add an API...

[2021-09-15 22:30] nhanledev opened #673 "14.1.4 caused SQL Exception"
## Describe the bug

The plugin caused `net.skinsrestorer.shadow.com.mysql.cj.jdbc.exceptions.SQLError.createSQLException`

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. Setup a BungeeCord server with AdvancedBan using MySQL
2. Get 14.1.4 version from `https://github.com/SkinsRestorer/SkinsRestorerX/releases/tag/14.1.4`
2. Setup this plugin to run using MySQL
3. See t

[2021-09-16 07:03] Xen0Xys opened #674 "SkinsRestorer 14.1.4 not working on Velocity"
## Describe the bug

SkinsRestorer not support Velocity in 14.1.4

## How can we reproduce what you got?

Steps to reproduce the behavior:

Put 14.1.4 SkinsRestorer Jar in velocity plugin folder

**Expected behavior**

Skinsrestorer working on Velocity

## Server information

**On what platform does your server run? (Bungeecord/Spigot/Bukkit)**

Velocity with the following logs:
[code]

**What ver

[2021-09-16 15:19] xknat opened #676 "change metrics backup-api -> ashcon-api"

[2021-09-16 15:50] xknat commented on #673
@nhanledev hey there!
can you join our discord?
we got a version to test out for you ;) ^

[2021-09-16 15:52] AlexProgrammerDE commented on #674
Fixed by #675

[2021-09-16 15:52] #674 closed, assigned to xknat

[2021-09-16 16:00] nhanledev commented on #673
Hello,

I joined your Discord server, and with put a feedback here after finishing the test.

[2021-09-16 16:09] #673 closed, assigned to xknat

[2021-09-16 17:17] #676 closed, assigned to xknat

[2021-09-16 22:58] antibitcoin opened #683 "Players able to steal heads from /skins GUI"
Simple as that, players are able to somehow steal heads from the GUI manipulating clicks etc.
it's a survival server.
here is the full info you will need such as version, plugins etc.
https://paste.md-5.net/orubodepun

Regards

[2021-09-17 05:12] xknat commented on #683
Plz give us your censored config of skinsrestorer

[2021-09-18 19:08] xknat opened #689 "make startup status checker async"
it did cost 22 seconds on main thread which is unnecessary startup delay

[2021-09-20 18:49] xknat opened #691 "mineskin queryURL IOException is never thrown because of catch ignored"
https://github.com/SkinsRestorer/SkinsRestorerX/blob/e8f71ee8e18fee776a5de48826d45f99b2cf2874/src/main/java/net/skinsrestorer/shared/utils/connections/MineSkinAPI.java#L191

[2021-09-21 18:15] Link0Darck opened #693 "MYSQL connection problem"
Hello,
I'm using MySQL 5.7.11 so here's the error (otherwise the plugin still works but spams this error)
https://pastebin.com/qaZZwEPE

[2021-09-21 18:26] xknat commented on #693
@Link0Darck pls provide /sr status

[2021-09-21 18:49] xknat opened #694 "[plugin incompatibility] HeadsPlus"
https://www.spigotmc.org/resources/headsplus-%C2%BB-1-8-1-17.40265/
from ticket-1632247631 Support ticket opened by <@************458> on 9/21/2021, 6:07:11 PM

[2021-09-22 21:27] Link0Darck commented on #693
here is the information sorry for the delay and I use water all last version

`[22sept.2021 23:24:14.768] [Render thread/INFO] [net.minecraft.client.gui.NewChatGui/]: [CHAT] ----------------------------------------------
[22sept.2021 23:24:14.769] [Render thread/INFO] [net.minecraft.client.gui.NewChatGui/]: [CHAT] Checking needed services for SR to work properly...
[22sept.2021 23:24:15.796] [Rend

[2021-09-22 21:31] xknat commented on #693
maybe @AlexProgrammerDE knows

[2021-09-22 21:33] Link0Darck commented on #693
the worst is that skinrestorer works after it says connect but it spams me this error lol :D

[2021-09-23 12:07] aljaxus commented on #693
@Link0Darck next time please format the error into a more readable state;
[code]

[2021-09-23 12:13] aljaxus commented on #693
ref;
* https://stackoverflow.com/a/18823705/11276254
* metabase/metabase#9885

We are also using the [MariaDB jdbc driver](https://github.com/SkinsRestorer/SkinsRestorerX/blob/878e18d159646f545adaacf662b05a21f296d8cf/src/main/java/net/skinsrestorer/shared/storage/MySQL.java#L62) which may not be compatible with old MySQL versions. Which version of which database are you using? (eg. MySQL, MariaDB)

[2021-09-23 12:22] aljaxus opened #695 "Running SELECT 1; before every SQL connection?"
Ref; https://github.com/SkinsRestorer/SkinsRestorerX/blob/878e18d159646f545adaacf662b05a21f296d8cf/src/main/java/net/skinsrestorer/shared/storage/MySQL.java#L80

Are we actually running an additional query every time we are querying the database for some record?
Because every time [`execute()`](https://github.com/SkinsRestorer/SkinsRestorerX/blob/878e18d159646f545adaacf662b05a21f296d8cf/src/main/j

[2021-09-23 12:27] aljaxus commented on #695
Only now I realize that all those calls from `SkinApplierSponge.java`, `SkinsRestorer.java`, `SkinCommand.java` and  `SrCommand.java` are not references to the `execute()` method I was talking about but apparently GitHub only looks at the method names instead of actual references.

Nevertheless my point still stands.

[2021-09-23 14:15] Link0Darck commented on #693
Hello,
I'm using MySQL 5.7.11 I marked it above

[2021-09-23 14:48] aljaxus commented on #693
Yeah sorry, missed it :<

Can you try spinning up an MariaDB instance (just a test via docker, so you can simply discard it afterwards), try to connect to it and see if the issue persists?

[2021-09-23 18:55] Link0Darck commented on #693
Sorry, I didn't quite understand what you wanted to do (I'm French)

[2021-09-23 18:57] aljaxus commented on #693
Try connecting SkinsRestorer to MariaDB because your MySQL installation is very, very old. ([release notes for MySQL 5.7.11](https://dev.mysql.com/doc/relnotes/mysql/5.7/en/news-5-7-11.html))

[2021-09-25 14:12] Link0Darck commented on #693
Sorry but I can't change the version or even switch to marian DB I use this database because I need it and the old version of your plugin i had no problem even the plugin works but it spam is error in the consol

[2021-09-25 14:18] aljaxus commented on #693
Yes - new version does not work because we are now using a newer database driver. Your MySQL version is **five and a half years old**. Since you are using shared hosting, ask your provider to update the database.

What we could do on the other hand is add the option to customize the database driver in [`config.yml`](https://github.com/SkinsRestorer/SkinsRestorerX/blob/dev/src/main/resources/config

[2021-09-25 14:22] Link0Darck commented on #693
Hello,
I have my own server at home but I will not update MYSQL because I need the version or I am for something else that needs this specific version
thank you in advance

[2021-09-25 18:45] aljaxus commented on #693
Well if you have your own server you can just install Docker and spin up a single instance of MariaDB just for SkinsRestorer (and any other updated software that you might be running)

[2021-10-03 17:30] Link0Darck commented on #693
I see but I don't know this method yet and then if the last version causes me a lot of problems to switch to the second last one

[2021-10-03 17:39] AlexProgrammerDE commented on #693
@Link0Darck

Please ensure you are using a recent version of mysql to work with the newest version of SkinsRestorer. I see from messages above you are running `5.7.11`, but I am unsure whether this is a mariadb driver issue or something different. After a bit of googling it seems like the issue could be the wait timeout, which may be caused by an instable connection to the DB and closing the conne

[2021-10-03 17:42] Link0Darck commented on #693
I'm not sure how long it takes to connect, because otherwise I don't have a problem with the skinrestorer mentioned above.

[2021-10-04 17:52] Link0Darck commented on #693
how to fix the problem since the mysql server is local

[2021-10-05 09:30] xknat opened #699 "merge status messages into ServiceChecker"
1. sting list should make it so that other messages don't interrupt
2. unify code
3. reduce duplicated code

[2021-10-06 09:00] vaporvee commented on #604
Now it has an similar issue with AntiAura. Entitys get invisible and are bugging. it could be fixed when this is fixed but when i remove skinrestorer it also runs just fine
also this could be the problem still i guess: [https://github.com/ProtocolSupport/ProtocolSupport/issues/1351#issuecomment-889748034](https://github.com/ProtocolSupport/ProtocolSupport/issues/1351#issuecomment-889748034)

[2021-10-06 09:15] xknat commented on #604
@cmod31 does it work fine on spigot?

[2021-10-06 09:57] vaporvee commented on #604
@xknat no its also a issue on spigot but to reproduce this issue it takes some time after starting the server like 5-10 minutes

[2021-10-06 10:18] vaporvee commented on #604
and for some reason when deleting skinrestorer i still have my skin as a premium user. Fastlogin just forwards the premium uuid not the skin

[2021-10-07 07:30] xknat commented on #604
Can you try without any other plugin installed by sr and protocolsupport

[2021-10-07 19:16] xknat opened #701 "fix license"
license is not being detected by github

[2021-10-10 19:01] LuigiImVector opened #703 "Remove countdown"
There is a way to remove/edit the countdown between commands?

![image](https://user-images.githubusercontent.com/59611597/136705166-0a4c207b-9936-412a-917a-0448ba75987b.png)

[2021-10-10 19:09] xknat commented on #703
use bypass permission or set value to 0

[2021-10-11 07:16] LuigiImVector commented on #703
where should I set the value to 0?

[2021-10-11 07:24] xknat commented on #703
on cooldown in config

[2021-10-11 07:24] #703 closed, assigned to nobody

[2021-10-11 07:25] xknat commented on #703
our github is NOT for player support, if you need help, join our discord

[2021-10-22 18:49] Bde13rian commented on #335
@xknat I was thinking if the problem was UserLogin plugin, but no. Then I read this and put the 'DisableOnJoinSkins' on true, and it works perfectly. Thanks bro.

[2021-10-26 15:05] Lewnadovsky opened #708 "Firewall problem"
## Describe the bug

Hi! I have a problem with the plugin. Despite adding rules to the firewall, the plugin refuses to connect to the API. After typing /sr status shows no connection to the Mojang and other APIs. Im using actually ufw firewall

**Screenshots**
If applicable, add screenshots to help explain your problem.

## Server information

**BungeeCord**

**What version? Do NOT answer LATEST**

[2021-10-26 16:20] Lewnadovsky commented on #708
nvm fixed.

[2021-10-26 16:20] #708 closed, assigned to xknat

[2021-10-26 16:30] xknat commented on #708
@MrKatrioPL our GitHub is not for support.
Please join our discord for help

[2021-10-26 18:29] xknat opened #709 "Skins gui stopped working"
Seems to be that sr can't read the skins for the skins gui any more

[2021-10-29 14:10] #709 closed, assigned to nobody

[2021-10-31 11:26] EverNife opened #713 "SkinsRestorer bugged behavior on plugin's CustomWorlds on Mohist (Hybrid Forge + Bukkit)"
## Describe the bug

Related to this https://github.com/MohistMC/Mohist/issues/1818

The part of the code bellow is not getting the correct DimensionID on Mohist. That causes the world to go entirely blue on the skin update.

https://github.com/SkinsRestorer/SkinsRestorerX/blob/dev/bukkit/src/main/java/net/skinsrestorer/bukkit/skinrefresher/SpigotSkinRefresher.java#L133-L137

## How can we reprodu

[2021-10-31 11:27] #691 closed, assigned to nobody

[2021-10-31 20:29] xknat opened #717 "merge skinstorage getskinsraw & getskins"
nonraw = bukkit
raw = bungee

both should do the same thing, with some minor changes.
a method Boolean would definitely merge this.

[2021-10-31 20:31] EverNife commented on #713
To help out with the fix on 1.12.2 forge hybrid should be something like this

![image](https://user-images.githubusercontent.com/11357801/139600263-5ab3d19f-8886-4aad-856b-b8646d61032b.png)

[code]

[2021-11-01 08:06] xknat commented on #683
@antibitcoin any update?
resolved with latest dev build?

[2021-11-03 09:51] #701 closed, assigned to nobody

[2021-11-04 09:42] opiums9 opened #723 "Error: Invalid skin url or format"
Hello, please tell me, what is the difference between this url: https://i.ibb.co/8YdFbKG/dima2.png and this url: https://minecraft.opiums.eu/skin/dima2.png?
The first one is downloaded and installed, the second gives an error, these are completely the same images, what is wrong with downloading images from my site?
![image](https://user-images.githubusercontent.com/25082773/140291889-b6240fe3-0b51

[2021-11-04 09:52] xknat commented on #723
For support, please join our discord or dm srteam on spigotmc.
Only confirmed bugs and coding issues are allowed here.

[2021-11-04 09:52] #723 closed, assigned to xknat

[2021-11-05 13:43] xknat commented on #290
Resolved

[2021-11-05 13:43] #290 closed

[2021-11-05 13:44] xknat commented on #396
A lot has changed, think this was resolved on the mojangapi reformat

[2021-11-05 13:44] #396 closed

[2021-11-05 13:45] xknat commented on #434
Still to be done

[2021-11-05 17:39] xknat opened #724 "rework refesher warning messages"
Issue is regarding following messages:
[code]

- [ ] move messages to debug as the refreshers seem to be now both stable.
- [ ] change the working of "Unsupported plugin" as this is not true.
- [ ] "Using SpigotSkinRefresher" is abundant if "Detected Minecraft v1_17_R1, using SpigotSkinRefresher." is thrown

[2021-11-10 20:08] thiagogebrimm opened #728 "When I sit on a block using the Gsit plugin and change the skin I go through the block below, if they have a way to solve this, it's very annoying"
## Describe the bug

When I sit on a block using the Gsit plugin and change the skin I go through the block below, if they have a way to solve this, it's very annoying

## How can we reproduce what you got?

I sit with "/sit" and skin change

**Expected behavior**
Shouldn't cross the block

## Server information

Purpur

**What version? Do NOT answer LATEST**

* SkinsRestorer: Version 14.1.6
* Spi

[2021-11-10 23:36] xknat commented on #728
github is not for user support. join discord or dm srteam on spigot.

[2021-11-10 23:36] #728 closed, assigned to xknat

[2021-11-14 13:56] xknat commented on #631
issue again

[2021-11-14 17:44] xknat commented on #631
current workaround: enable multibungeemode in skinsrestorer config.yml

[2021-11-27 14:10] xknat commented on #646
Maybe `SkipDefaultSkinIfOnlineMode: `
idk if we should make this true or false by default since there are some sideload plugins that can let cracked join premium servers.

[2021-11-27 14:16] xknat commented on #516
Unclear if we should do this by default on a config option or add additional toggle for the player by command to enable/disable this.
Maybe we can also add a perms for this...

[2021-11-27 14:20] xknat commented on #170
done in #697

[2021-11-27 14:20] #170 closed

[2021-11-28 00:00] xknat opened #733 "cancel url skin if current que is above int"
- [ ] Throw urlSkin-waitMinute if there is already a request in que.
- [ ] Make a (configurable??) limit for players to que skin url

[2021-11-28 14:52] Asmodeux18 commented on #724
**Hi. I have the same problem, how can i fix that?**

[2021-11-28 14:56] xknat commented on #724
fixed by #732

[2021-11-28 14:56] #724 closed, assigned to xknat

[2021-11-30 17:35] RanWhite opened #735 "1.18 support"

[2021-11-30 17:50] xknat opened #736 "MC 1.18 Support"
We are working hard on supporting 1.18 we will give updates on our discord server.

**Known Errors**
These errors will appear when using mc 1.18 & SkinsRestorer:
[code]
[code]

[2021-11-30 18:12] xknat opened #737 "add silent switch for SetSkinOther (preventing target feedback)"

[2021-11-30 22:56] ElnuDev commented on #736
It's not working on paper 1.18 build 10 either for me. In the logs, I'm getting `java.lang.NoSuchMethodException` for both `net.minecraft.server.level.EntityPlayer.triggerHealthUpdate()` at server startup and `net.minecraft.server.level.EntityPlayer.getProfile()`.

[2021-11-30 23:00] xknat commented on #736
Likely because your using viaversion or protocolhack which forces you to the spigot one

[2021-11-30 23:07] ElnuDev commented on #736
Viaversion? Protocolhack? I'm not running any of these, at least not knowingly. I haven't ever heard of them (sorry for my ignorance, I only really got into server hosting stuff recently)

[2021-12-01 01:16] qyl27 commented on #736
It seems that the problem caused by the spigot had removed the mapping of method names, and the paper is not working either.
More detailed, after the exception `net.skinsrestorer.shared.exception.InitializeException: java.lang.NoSuchMethodException: net.minecraft.server.level.EntityPlayer.triggerHealthUpdate()`, SkinsRestorer will use SpigotSkinRefresher instead, then same with on spigot.

[2021-12-01 06:18] AlexProgrammerDE commented on #736
Actually no. That method gets even executed before we use one of our refreshers.

[2021-12-01 06:23] AlexProgrammerDE commented on #736
As a last option we can probably start using mojang/spigot mappings and make one implementation per mapping version.

[2021-12-01 18:55] xknat commented on #636
for https://ci.md-5.net/job/BungeeCord/ws/api/target/apidocs/net/md_5/bungee/api/event/ServerConnectEvent.html#getTarget() to be used, the code needs to be in `onServerConnect` which is now currently in `onLogin`

[2021-12-01 18:55] xknat commented on #613
resolved with #648

[2021-12-01 18:55] #613 closed

[2021-12-01 18:56] xknat opened #743 "get rid of steve & alex skins in gui by also matching the texture."

[2021-12-01 20:15] xknat opened #744 "Add warning when config options are missing (might be redundant by axiom)"

[2021-12-01 20:26] #429 closed

[2021-12-01 22:04] ReyBreaAdrianDam opened #747 "Error during launching 1.18 bukkit"
[23:01:59] [Server thread/WARN]: net.skinsrestorer.api.reflection.exception.ReflectionException: java.lang.NoSuchMethodException: net.minecraft.server.level.EntityPlayer.getProfile()
[23:01:59] [Server thread/WARN]:        at net.skinsrestorer.api.reflection.ReflectionUtil.invokeMethod(ReflectionUtil.java:270)
[23:01:59] [Server thread/WARN]:        at net.skinsrestorer.bukkit.SkinApplierBukkit.la

[2021-12-02 22:20] RanWhite opened #750 "NoSuchMethodException getProfile at 1.18"
JAVA17
PAPER 1.18 - 23
VERSION 14.1.7-SNAPSHOT

[06:17:55 WARN]: net.skinsrestorer.api.reflection.exception.ReflectionException: java.lang.NoSuchMethodException: net.minecraft.server.level.EntityPlayer.getProfile()
[06:17:55 WARN]:        at SkinsRestorer.jar//net.skinsrestorer.api.reflection.ReflectionUtil.invokeMethod(ReflectionUtil.java:270)
[06:17:55 WARN]:        at SkinsRestorer.jar//net.ski

[2021-12-02 22:25] #750 closed

[2021-12-03 15:45] adamo0917 commented on #736
this will be useful, because i have 1.18 SMP and i don't want to use ViaVersion or something.

[2021-12-05 09:07] NoniDOTio commented on #736
This is the full error I'm getting when a player connects to my paper-1.18-39 server with the latest ViaVersion:
`[17:27:26 WARN]: net.skinsrestorer.api.reflection.exception.ReflectionException: java.lang.NoSuchMethodException: net.minecraft.server.level.EntityPlayer.getProfile()
[17:27:26 WARN]:        at SkinsRestorer.jar//net.skinsrestorer.api.reflection.ReflectionUtil.invokeMethod(ReflectionUt

[2021-12-05 11:14] droutin opened #754 "PaperSpigot 1.18 - 44"
openjdk 17.0.1 2021-10-19
PaperSpigot 1.18 - 44
SkinsRestorer 14.1.6

Cant load skins.
Log:
https://pastebin.com/L5tqK6jX

[2021-12-05 11:16] xknat commented on #754
unsupported version 1.18
await release 14.1.7

[2021-12-05 11:16] #754 closed, assigned to xknat

[2021-12-05 15:51] xknat commented on #736
Resolved by https://github.com/SkinsRestorer/SkinsRestorerX/pull/749

[2021-12-05 15:51] #736 closed, assigned to xknat, AlexProgrammerDE

[2021-12-05 15:52] xknat opened #755 "let skin update match texture to return "no new info" message"

[2021-12-05 16:01] AlexProgrammerDE commented on #251
The file should be saved in UFT-8. We may wanna check on this.

[2021-12-05 16:02] AlexProgrammerDE commented on #426
Which platform and what applySkin method exactly?

[2021-12-07 14:17] TISnoob opened #761 "If we join the server after starting, the skins doesn't restore automatically"
## Describe the bug

A clear and concise description of what the bug is.

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

## Server infor

[2021-12-07 14:57] AlexProgrammerDE commented on #761
Could you please fill out the form? We didn't make it for nothing...

[2021-12-07 15:07] Zhenrio opened #762 "Issues with SkinRestorer while using Cardboard for Fabric 1.18"
When i upload the plugin, he's detected but he can't load normally. i don't know if it's because of cardboard but with Cardboard we're supposed to be able to use spiggot and bukkit plugins.
In server log i can read this :

i joined server's log on this request
[log.txt](https://github.com/SkinsRestorer/SkinsRestorerX/files/7669301/log.txt)

[2021-12-07 15:27] SpartianKing opened #763 "Does not work with 1.18 spigiot"
I loaded Skinsrestorer and viaversion, and it will not load the skins.  the commands work, but it doesnt execute them.

[2021-12-07 15:39] xknat commented on #763
github is not for support. please join our discord

[2021-12-07 15:39] #763 closed, assigned to nobody

[2021-12-07 15:41] xknat commented on #762
what is cardboard?
we cant support everything in the world...
cardboard is not on our supported implementation list and works as is.

[2021-12-07 15:58] FireLion137 opened #764 "Spigot 1.18, SkinRestorer not loading skins on login"
## Describe the bug

SkinRestorer don't load skins on login.

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. Connect into the Server (Spigot 1.18);
2. You can see you have no skin, do "/sr applyskin", "/skin update" or "/skin set";
3. Disconnect and reconnect;
4. You can see there is no skin.

**Expected behavior**
SkinRestorer don't load skins on login. I can set the

[2021-12-07 16:01] xknat commented on #764
For user support, please join our discord

[2021-12-07 16:01] #764 closed, assigned to xknat

[2021-12-07 16:29] Zhenrio commented on #762
i was expecting this answer... thanks anyway.

[2021-12-07 16:53] AlexProgrammerDE commented on #762
Well I'm gonna assign this one to myself. It should not be hard to fix this.

[2021-12-07 19:32] ghost opened #767 "Skin not applying automatically after relog"
## Describe the bug

When First logging on the server the Skin is applied but if if i leave no matter the times i come back my skin won't apply automatically.

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. Go into Server
2. The Skin is the right one
3. Leave Server
4. Relog into Server
5. Skin is now alex

**Expected behavior**
Every time i relog, my skin should apply

[2021-12-08 11:12] KygekDev opened #771 "SkinsRestorer v14.1.8 not working with ProtocolLib v4.8.0-SNAPSHOT-b538"
## Describe the bug

I got an `Segmentation error` error with VMState `0x00040000` after the message `[SkinsRestorer] Hooking into ProtocolLib for instant skins on join!` whenever my server is starting.

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. Download and install the latest version of IBM Semeru JDK 17 from GitHub and add to PATH (https://github.com/ibmruntimes

[2021-12-08 11:21] xknat commented on #771
confirmed issue with openj9
pls join our discord for support.

[2021-12-08 11:21] #771 closed, assigned to xknat

[2021-12-08 11:23] xknat opened #772 "Openj9 crash when loading skinsrestorer"
We are aware of an issue with openj9 and are looking into a fix.
current workaround: use [Adoptium](https://adoptium.net/)

== dev notes ==

Latest working build: [155](https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/155/)
breaking build: [156](https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/156/)
changes: [155 - 156](https://github.com/SkinsRestorer/SkinsRestorerX/comm

[2021-12-08 11:27] xknat commented on #767
Should be resolved with https://github.com/SkinsRestorer/SkinsRestorerX/releases/latest
if not, join our discord for support

[2021-12-08 11:27] #767 closed, assigned to xknat

[2021-12-08 11:28] xknat commented on #761
should be resolved with https://github.com/SkinsRestorer/SkinsRestorerX/releases
if not, please join our discord for support.

[2021-12-08 11:28] #761 closed, assigned to xknat

[2021-12-08 12:43] GoddessSans opened #773 "Is it possible to download a skin that has been used on the plugin?"
This is in no way a bug or enhancement suggestion, it is only that I dont know if I can get my hands through the files on the skins that have been applied on a specific server...
I guess that probably not, and also I'm sorry if this is not the kind of Issue that should be opened, but thanks anyways and in advance!

[2021-12-08 12:45] AlexProgrammerDE commented on #773
Yes it is possible, but please join our discord server and ask the question there. Github is for code issue tracking for us at least. I will explain it to you once you've joined the discord server.

[2021-12-08 12:45] #773 closed, assigned to nobody

[2021-12-08 21:40] joex92 commented on #620
at least could you add a workaround for this:
the ely.by API can get the skin file with just the username, e.g.,  like this: http://skinsystem.ely.by/skins/JoeX92
but it will redirect it to the image file resolving in this link: http://ely.by/minecraft/skins/6dc7150a8ac5a4d3e882e3b6a518b3c0.png
using it with the `/skin set` command resolves in an error
![image](https://user-images.githubuserconten

[2021-12-08 21:44] xknat commented on #620
would work if the skin is valid, sadly tlauncher does allow illegal skin format / options which mojang and the real game do not support. for the "fake skin / HD" to work you need everyone to use a mod.

[2021-12-08 23:39] joex92 commented on #620
._. what I need is that for the people that haven't bought the game, they could still have a skin by using ely.by system without having to download any mod... Ely.By offers an API... the skin provided is valid, look at this:
![image](https://user-images.githubusercontent.com/645579/145308319-d5c655f9-9ae9-42e7-b683-b6441e96752c.png)
![image](https://user-images.githubusercontent.com/645579/1453085

[2021-12-08 23:48] xknat commented on #620
No its NOT a invalid skin
The skin is not conform https://minecraft.fandom.com/wiki/Skin
The skins that the mod used do not have to be skins that the game it self can show. That's your misunderstanding and because of that you think that those "hd skins" can be set in the game which is not true as we must have any skin signed by mojang and mojang will not sign those skins as they are invalid.

[2021-12-09 12:25] RanMinecraft opened #777 "1.18 HttpsURL problem"
Purpur 1.18 - 1431
Paper 1.18 - 61 as same
version 14.1.8
network is fine but errors
[20:15:28] [Paper Watchdog Thread/ERROR]: The server has not responded for 10 seconds! Creating thread dump
[20:15:28] [Paper Watchdog Thread/ERROR]: ------------------------------
[20:15:28] [Paper Watchdog Thread/ERROR]: Server thread dump (Look for plugins here before reporting to Paper!):
[20:15:28] [Paper Wat

[2021-12-09 12:26] xknat commented on #777
support => join discord

[2021-12-09 12:26] #777 closed, assigned to xknat

[2021-12-09 12:38] #762 closed, assigned to AlexProgrammerDE

[2021-12-10 04:50] awgybop1 opened #783 "Huge lag spikes when players join the server."
## Describe the bug

Whenever a player joins the server, a huge lag spike occurs.

A thread dump shows the following:
`net.skinsrestorer.shared.utils.connections.MojangAPI.readURL(MojangAPI.java:290)
net.skinsrestorer.shared.utils.connections.MojangAPI.readURL(MojangAPI.java:277)
net.skinsrestorer.shared.utils.connections.MojangAPI.getProfileAshcon(MojangAPI.java:223)
net.skinsrestorer.shared.util

[2021-12-10 05:57] 4o4E commented on #783
So am I
Whenever a player enters, the TPS will drop from 20 to about 18

## plugin version

[code]

## server version

[code]

## some error (This error occurred in the dev version(v14.1.9) some time ago)
[code]

[2021-12-10 07:08] awgybop1 commented on #783
My quick and dirty fix was to set the "DisableOnJoinSkins" config option to true, and then wrote a quick command so that when a player joins, console runs the command "skin update <player>". (yeah, probably could hook the API, but I did say a dirty fix.)

Skins still work fine and the lag is gone.

[2021-12-10 07:09] 4o4E commented on #783
I'll try

[2021-12-10 08:39] xknat commented on #772
resolved with #774

[2021-12-10 08:39] #772 closed, assigned to xknat, AlexProgrammerDE

[2021-12-10 13:43] 4o4E commented on #783
The solution is very effective, and the lag no longer appears

[2021-12-10 20:39] awgybop1 commented on #783
This issue has been resolved in build 14.1.10 -  the ProtocolLib instant skins are now configurable and disabled by default, and as a result, this "bug" is fixed.

[2021-12-10 20:39] #783 closed, assigned to xknat

[2021-12-12 15:00] ghost opened #788 "Cant /skin on 1.8.8"
cant show information on 1.8.8 after /skin

[2021-12-12 15:01] xknat commented on #788
Discord

[2021-12-12 15:01] #788 closed, assigned to xknat

[2021-12-13 13:50] Dennoquellovero opened #789 "Bungeemode not working properly on Spigot forks where spigot.yml is renamed"
The plugin doesn't work properly on one of my sub-servers that runs SportPaper, starting in Standalone Mode instead of Bungee. It does work properly on the other sub-servers that run PaperMC.

I believe it might be because the configuration file for the server is called sportpaper.yml, instead of the default spigot.yml.

I'm using a PaperMC fork called SportPaper, running in a Velocity proxy.

===

[2021-12-13 21:13] xknat commented on #789
No such generic api available. Guess we should point out the override files.

[2021-12-13 23:41] celophys opened #790 "Resourcespack error"
## Describe the bug

When using the plugin the server's resourcespack cant be downloaded

## How can we reproduce what you got?

Install skinrestorer 14.1.10 on paper 1.18.1 and set a resourcespack for the server

[2021-12-14 08:00] xknat commented on #790
Known issue

[2021-12-14 08:00] #790 closed, assigned to xknat

[2021-12-20 12:04] OLEGSHA commented on #582
I made a standalone workaround plugin for this issue: https://github.com/OLEGSHA/SkinsRestorer528Fix. While I haven't tested it with any unusual setups or Bungeecord, it does work in a default setup with Paper `git-Paper-82 (MC: 1.18.1)`.

Judging by the fact that the issue is still open, I have to guess that my solution doesn't really work good enough to be incorporated into the plugin proper; ho

[2021-12-20 12:42] xknat commented on #582
[code]

Well, maybe we could have done this also,,,
@AlexProgrammerDE opinion?

[2021-12-20 12:51] OLEGSHA commented on #582
I could make a PR if this route is approved. I'd invoke the code directly instead of using commands, of course.

[2021-12-20 13:06] xknat commented on #582
sure. PS; use https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/event/player/PlayerResourcePackStatusEvent.Status.html#SUCCESSFULLY_LOADED

[2021-12-20 13:21] OLEGSHA commented on #582
There are five routes that normally happen:
- There is no server resourcepack, in which case the skin should be applied on login and the listener should not be registered;
- A resourcepack exists but it is not mandatory, and the player has rejected the download: `DECLINED` is issued, and since we have not set the skin previously, we should do it now;
- A mandatory resourcepack exists, and the play

[2021-12-20 13:41] xknat commented on #582
There are a few things to consider.

1:
Not only A class internet country's play this game.
So a resource pack download might take LONG (and i am talking about unreasonable large time), because of this we cant trigger the api when its been accepted but on `SUCCESSFULLY_LOADED`

2:
people might use a plugin for this that does not register it under the server.property's.
So it might be hard to not

[2021-12-20 13:53] OLEGSHA commented on #582
Thanks for highlighting these points.

1:
The code _skips_ skin application if the event is `ACCEPTED`. This way, any of `SUCCESSFULLY_LOADED`, `DECLINED` or `FAILED_DOWNLOAD` will trigger skin application. The code waits for the player to be done before fixing the skin, which is what I think you meant.

2:
Indeed. IMO the appropriate course of action is then to have the plugin make an educated gu

[2021-12-24 09:15] xknat commented on #582
Did you still plan on creating a pr?
Otherwise I can do it

[2021-12-24 20:21] xknat opened #798 "[plugin incompatibility] JPremium"
We do not support JPremium "*Fixed*" mode.
Use "Real" or "Offline" mode.

from support:

[2021-12-25 07:47] Swapneel665 commented on #604
I also have the same issue pls find a fix for this

[2021-12-25 10:01] xknat commented on #604
Unsupported version 14.1.1
We are now on 14.1.10

[2021-12-25 10:01] #604 closed

[2022-01-01 21:44] xknat opened #803 "Strip special chars onskinjoin to comply with floodgate prefix"

[2022-01-03 12:23] xknat opened #805 "MYSQL: Data too long for column 'Skin'"
== DEV Notes ==
We will increase varchar to a possible byte lengt that will not negatie impact the skins command.
If we allow more lengt, that could increase the bytes we send over bungee...

since we now allow unlimited skin lengt, we did not update mysql charachter limit. causing this issue below:
[code]

[2022-01-12 00:16] mhmatthewhugley opened #813 "Wrong permission in the wiki"
On the wiki "https://github.com/SkinsRestorer/SkinsRestorerX/wiki/cmds-&-perms#admin-commands" in the admin commands section.

This permission is listed twice "skinsrestorer.admincommand.applyskin"

The second time it is listed it should say "skinsrestorer.admincommand.createcustom"

[2022-01-12 00:16] xknat commented on #813
thanks

[2022-01-12 00:16] #813 closed, assigned to xknat

[2022-01-12 00:25] mhmatthewhugley commented on #813
Also This permission "skinsrestorer.admincommand.reload" Is missing from this part of the perm list on the wiki "https://github.com/SkinsRestorer/SkinsRestorerX/wiki/cmds-&-perms#permlist"

[2022-01-12 00:25] mhmatthewhugley commented on #813
It should be put right below the .props one

[2022-01-12 00:28] xknat commented on #813
✔️

[2022-01-14 21:45] xknat commented on #251
no longer an issue

[2022-01-14 21:45] #251 closed

[2022-01-15 12:42] xknat opened #817 "improve locale for translators"
- [ ] timed out --> interruption
- [ ] player or skin --> beter define that there is a switch statement in data removal
- [ ] encapsulate variables with `<>`

[2022-01-15 16:50] vaporvee opened #818 "Vanilla require resourcepack prompt gets skipped"
## Describe the bug

When you force the player to use a server resourcepack(new vanilla feature since 1.17) the dialogue will be skipped when i have skinrestorer installed.

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. Install SkinRestorer
2. Setup a server resourcepack in the server.properties
3. and also turn on require-resource-pack=true in the server.properties(i

[2022-01-15 16:54] xknat commented on #818
Duplicate of #582

[2022-01-15 16:54] #818 closed, assigned to xknat

[2022-01-30 09:24] xknat opened #828 "Emoji in skin will not work for mysql"
[19:34:44] [Netty Worker IO Thread #0/INFO]: player executed command: /skin AfterChange🍸
[19:34:44] [SkinsRestorer Pool Thread #4751/ERROR]: java.sql.SQLException: Incorrect string value: '\xF0\x9F\x8D\xB8' for column 'Skin' at row 1
[19:34:44] [SkinsRestorer Pool Thread #4751/ERROR]: 	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:129)
[19:34:44] [SkinsRestorer Pool Thr

[2022-01-30 18:50] zoe-may opened #829 "Conflict with MOD Curios API"
When the plugin is used with the MOD Curios API, the GUI interface of the MOD (Curios API) will not open (as shown)

![image](https://user-images.githubusercontent.com/71170887/151712836-902a6aa9-b8e3-44d0-a58f-3e122ffa022a.png)
This is normal situation

![image](https://user-images.githubusercontent.com/71170887/151712885-3390345e-c1ba-4601-b09d-e7c102cbe418.png)
This is not normal situation

I s

[2022-01-30 18:53] xknat commented on #829
We don't support mod... definitely not client side mods.

[2022-01-30 18:53] zoe-may commented on #829
By the way, this is the Github link address of the MOD
https://github.com/TheIllusiveC4/Curios

[2022-01-30 18:54] xknat commented on #829
We dont support forge, please use a supported implementation and try again.

[2022-01-30 18:54] #829 closed, assigned to nobody

[2022-01-30 18:56] zoe-may commented on #829
Yes I know, but this mod is important to many other mods, and it's obvious that this is caused by the SkinsRestorerX plugin. This problem only exists in multiplayer servers

[2022-01-30 18:58] zoe-may commented on #829
I really hope this problem can be solved

[2022-01-30 19:14] zoe-may opened #830 "Conflict issues with mod Curios API"
I'm sorry to bother you againI know it's a server plugin, but it conflicts with the MOD Curios API，Curios API is the front mod for many other mods, and I'm pretty sure it's the SkinsRestorerX plugin that's causing the problem，So this bug is very unfriendly to the forge server.I really like the SkinsRestorerX plugin and I'd be sorry if I couldn't use it.
Please forgive me if I cause you any trouble

[2022-01-30 19:33] xknat commented on #830
We don't support forge, if we are unfriendly to forge, then solution: DONT USE FORGE
We dont support forge,
dont use forge for skinsrestorer

use what we support
dont use what we do not support

If mods complain about us not supporting them
we do not test what we do not support

Not gonna test how well my car can fly if it's not planned to fly....

[2022-01-30 19:33] #830 closed, assigned to nobody

[2022-01-30 19:35] zoe-may commented on #830
I am very sorry to bother you, thank you for your reply

[2022-01-31 17:53] PaBox commented on #817
- [ ] Remove double entries, for example `Completions_Skin/COMPLETIONS_SKIN`, `Completions_SkinName/COMPLETIONS_SKINNAME` and `Completions_SkinUrl/COMPLETIONS_SKINURL`

[2022-01-31 17:58] xknat commented on #817
cant be done in crowdin as they are not the same string and i wont change locale at the cost of customization

[2022-02-03 14:18] xknat commented on #713
sr v13.8.9 works for mohist on 1.12.2

[2022-02-03 15:01] EverNife commented on #713
Tested **[v13.8.9]** on latest mohist 304

![image](https://user-images.githubusercontent.com/11357801/152368403-38f71598-772f-47ec-bfd9-d74fb55065c4.png)

[2022-02-03 15:19] EverNife commented on #713
The problem on latest version is the same as i stated before. Its a logical problem!

On Mohist/Magma or any other modded platform the code

**int dimension = player.getWorld().getEnvironment().getId();**

**Will not** return the correct dimension id, it will return the EnvironmentID, that is usually the correct one, but not on custom worlds created by plugins.

I will fix this and open a pull req

[2022-02-03 15:48] PaBox commented on #817
Why is there a doubled definition of the same thing?

[2022-02-03 16:22] xknat commented on #817
for the sake of customization...

[2022-02-03 16:23] xknat commented on #817
Maybe if you put in some reference we would be able to figure out what your pointing to

[2022-02-06 11:52] xknat commented on #683
No updated from issuer

[2022-02-06 11:52] #683 closed, assigned to nobody

[2022-02-11 12:05] xknat opened #844 "add dot in removeForbiddenChars"
https://github.com/SkinsRestorer/SkinsRestorerX/blob/fbba4cf14316e7460f896f49aabd1ff2c7db3dec/shared/src/main/java/net/skinsrestorer/shared/storage/SkinStorage.java#L660

- [ ] add dot
- [ ] cache regex

[2022-02-11 12:10] xknat opened #845 "Add a way to remove url skins using /sr drop"
current issue: sr will think it's a new entry

[2022-02-13 14:08] xknat opened #848 "Add a way to migrate / convert mysql & flatfile"

[2022-02-13 15:10] PaBox commented on #817
Those are the double entries I found, each Version exists in Caps and in the normal format. One set in the middle, one at the end of the lang file. If you press `ctrl`+`f` you can search the entries and each exists only one time (6x1), I don`t know how I could be more specific - please tell me what else I could send to prove this.

[2022-02-13 15:14] xknat commented on #817
https://github.com/SkinsRestorer/SkinsRestorerX/blob/dev/shared/src/main/java/net/skinsrestorer/shared/storage/Locale.java#L62-L64

where are the duplicates?

[2022-02-13 15:18] xknat commented on #817
@PaBox ah, i think where your going...
No, the translations are not yet ready
This is only the new format.
you should not use the new format yet since it's still in development and not connected to new langue system so obvious there is conflict.

Never told you could could use the translations now being translated, we are translating them ahead of time.
The syntax is not the same, so it will put i

[2022-02-13 15:51] iGabyTM commented on #844
And also cache the regex, I see that it is used on multiple places.

[2022-02-13 15:52] xknat commented on #844
Full skin storage rewrite is on the way. Will add it to the issue thanks @iGabyTM

[2022-02-13 18:04] xknat opened #849 "Travertine can't get NMS Version"
[17:35:27 WARN]: Exception encountered when loading plugin: SkinsRestorer
java.lang.ExceptionInInitializerError: null
        at net.skinsrestorer.shared.utils.SharedMethods.allowIllegalACFNames(SharedMethods.java:41) ~[?:?]
        at net.skinsrestorer.shared.interfaces.ISRPlugin.prepareACF(ISRPlugin.java:58) ~[?:?]
        at net.skinsrestorer.bungee.SkinsRestorer.initCommands(SkinsRestorer.java

[2022-02-18 09:15] #844 closed, assigned to nobody

[2022-02-18 09:20] xknat commented on #844
@iGabyTM done, thanks for the tip

[2022-02-25 09:44] xknat opened #853 "Return cooldown format depending on duration (hours vs minutes vs seconds)"
examples:
https://stackoverflow.com/a/625456
https://stackoverflow.com/a/41308476

[2022-02-26 12:36] xknat commented on #287
This issue seems to not be reported any longer.
If the issue does come forward we will look into it again.

[2022-02-26 13:58] xknat commented on #733
This needs to be reconsidered.
Do we want to even implement this?
How would we calculate waiting time?

Also, maybe we should add a way to give api priority over user commands?

[2022-02-26 18:00] ImNotDevPekka opened #856 "Skin url upload issue"
Skin upload not working with imgur and with another sites but I followed the instructions

[2022-02-26 20:21] Scrulius opened #857 "[Velocity] I cant use SR commands on paper console"
Hello! I have a problem

I am using SkinsRestorer in velocity and paper, the problem is that when I use a SkinsRestorer command in the paper console nothing happens, it doesn't change the skin but it doesn't give error either

To reproduce:

- Install bungee/waterfall/velocity
- try to change a player skin using the paper console
- Nothings happens.

Only works if the player use the command or you

[2022-02-26 21:11] xknat commented on #857
github is not for support, contact us on discord.

[2022-02-26 21:11] #857 closed, assigned to xknat

[2022-03-04 13:57] sphings79 opened #864 "1.18.2 compability"
## Describe the bug

Plugin won't load on 1.18.2

## How can we reproduce what you got?

Steps to reproduce the behavior:

upgrade your server to 1.18.2
restart the server

**Expected behavior**
Plugin should load

**Screenshots**
-

## Server information

**On what platform does your server run? (Bungeecord/Spigot/Bukkit)**
Paper version git-Paper-220 (MC: 1.18.2)

**What version? Do NOT answer L

[2022-03-04 13:58] xknat commented on #864
thanks for letting us know paper is out

[2022-03-04 15:50] #856 closed, assigned to xknat

[2022-03-04 15:53] #864 closed, assigned to xknat

[2022-03-05 14:53] xknat opened #873 "Fix "unit must not have an estimated duration" in /sr createcustom"
![image](https://user-images.githubusercontent.com/10220139/156888564-c5ce4f05-94d7-4eab-b90a-95b1e2edef19.png)

[2022-03-05 15:46] #873 closed, assigned to nobody

[2022-03-08 08:14] PappoYT opened #877 "Plugin SkinsRestorer v14.1.13 generated an exception while executing task 30133"
## Describe the bug

When a player login the server I get this error in console:
`[Craft Scheduler Thread - 140 - SkinsRestorer/WARN]: [SkinsRestorer] Plugin SkinsRestorer v14.1.13 generated an exception while executing task 30133
java.nio.file.InvalidPathException: Malformed input or input contains unmappable characters: plugins/SkinsRestorer/Players/?paladinodeimari.player
	at sun.nio.fs.UnixPat

[2022-03-08 11:19] xknat commented on #877
You have a question mark "?" As prefix

Think we don't support that

[2022-03-08 13:00] xknat opened #878 "Issue with sr apply"
Seems to be working from player but not console

[2022-03-08 16:04] PappoYT commented on #877
The prefix is a dot "." not a question mark "?" (see image).
![Cattura](https://user-images.githubusercontent.com/74958346/157276767-3c38f36f-11ab-4b2f-9622-25b18785eb8f.PNG)

The dot is added by floodgate/geyser.

[2022-03-10 19:15] xknat commented on #877
pls join our discord for support.

[2022-03-10 19:15] #877 closed, assigned to xknat

[2022-03-10 20:49] xknat commented on #878
Should be resolved with #882

[2022-03-10 20:49] #878 closed, assigned to nobody

[2022-03-11 05:20] PappoYT commented on #877
@xknat could you give me the invitation link to Discord? I cannot find it on SpigotMC neither here...

[2022-03-11 06:07] xknat commented on #877
https://github.com/SkinsRestorer/SkinsRestorerX#link-links

[2022-03-11 11:35] xknat opened #883 "Bungee online mode refresher stopped working"
changing skin when using bungee in online mode stopped working.
Seems to be the case for latest release of bungee / paper & spigot
issue also on `14.1.10`
ref: `ticket-1646994316`

todo:
- [ ] test local

[2022-03-12 14:22] RazoBeckett opened #885 "Cracked Players Skin"
### Not showing _cracked players skins_ in game.
is there any **API** key or any way to allow cracked players skin in game....

Thanks,
Razo Beckett

[2022-03-12 14:44] xknat commented on #885
Please join our discord for support.

[2022-03-12 14:44] #885 closed, assigned to nobody

[2022-03-13 07:56] xknat opened #886 "Floodgate causing InvalidPathException: Malformed input or input contains unmappable characters"
Dev note
Illegal character name is not escaped in https://github.com/SkinsRestorer/SkinsRestorerX/blob/18aaff388de4b44c8475c8d725bbd16760df4e8b/shared/src/main/java/net/skinsrestorer/shared/commands/ISkinCommand.java#L229

Confirming:
- [x] Working in windows
- [x] Working in ubuntu 20 --> https://i.imgur.com/iARuE8J.png
- [ ] working in docker

[2022-03-15 06:12] xknat opened #887 "Payload may not be larger then 32767 bytes"
There seems to be a issue when using large skins to crash the skins gui.

either:
- [x] lower skull number when using bungee
- [ ] cache skulls on bungee side
- [ ] rework the whole skinsgui

[2022-03-15 06:14] xknat opened #888 "Archive config on backend if sr in bungee mode"
Rename the config file to something alike: config-epoch.yaml.backup

[2022-03-16 03:24] Catzy44 opened #889 "MYSQL mysql_native_password CRASH"
Hello,
I'm using MySQL 8.0.28-0ubuntu0.20.04.3

Here's the error: https://pastebin.com/raw/W0BETWvZ

[2022-03-16 09:39] xknat commented on #889
Hello,

Pls read the notes.
![image](https://user-images.githubusercontent.com/10220139/158561128-3c698411-2c14-4f8b-9850-3dbccb40de0e.png)

[2022-03-16 18:38] xknat opened #890 "sr freezes startup if no connection."
![image](https://user-images.githubusercontent.com/10220139/158663178-d749b4e3-5705-4529-b4d5-ed32ade6951d.png)

[2022-03-17 15:05] #889 closed, assigned to nobody

[2022-03-17 16:40] xknat opened #892 "Add /sr apply messages to locale"
https://github.com/SkinsRestorer/SkinsRestorerX/blob/18aaff388de4b44c8475c8d725bbd16760df4e8b/shared/src/main/java/net/skinsrestorer/shared/commands/ISRCommand.java#L173-L175

[2022-03-17 16:53] zentixua opened #893 "MYSQL: Client does not support authentication protocol requested by server. plugin type was = 'caching_sha2_password'"
## Describe the bug

When using the velocity version of this plugin, when trying to connect the database, an error appears:
_**[skinsrestorer]: Can't connect to MySQL! Disabling SkinsRestorer.
java.sql.SQLNonTransientConnectionException: Could not connect to address=(host=localhost)(port=3306)(type=master) : Client does not support authentication protocol requested by server. plugin type was='mysq

[2022-03-17 17:26] xknat commented on #893
Thanks

[2022-03-18 07:35] #892 closed, assigned to xknat

[2022-03-18 20:47] zentixua commented on #893
🙃

[2022-03-19 11:43] xknat opened #896 "Fix bungee sr reload not reset acf SkinWithoutPerm"
This bug was likely introduced by undoing bungee sr reload specific code.

work around:
- full bungee /end and start (full restart)

[2022-03-20 14:55] xknat opened #898 "Skinsrestorer & floodgate v2 onjoin"
align floodgate with skinsrestorer to not run onjoin when floodgate is already handeling the skin and override it when the bedrock player does use the skinsrestorer skin set.

[2022-03-20 21:02] #887 closed, assigned to nobody

[2022-03-21 12:50] xknat opened #901 "bungee missing "proxy mode" in banner"

[2022-03-21 12:52] xknat commented on #582
@OLEGSHA @yuompioka can you test this version for me:
https://github.com/SkinsRestorer/SkinsRestorerX/actions/runs/1958018311
(see Artifacts)

[2022-03-21 19:54] xknat commented on #803
already done

[2022-03-21 19:54] #803 closed, assigned to nobody

[2022-03-21 20:08] #890 closed, assigned to xknat

[2022-03-21 21:26] xknat opened #902 "Update plugin com.gradle.enterprise to v3.9"

[2022-03-21 21:27] #902 closed, assigned to AlexProgrammerDE

[2022-03-23 08:08] OLEGSHA commented on #582
Unfortunately I won't be able to contribute further for now. I'll try using the version and report back though.

[2022-03-23 11:20] xknat commented on #582
np, seems to be done anyways

[2022-03-24 09:03] xknat opened #905 "/skin search"
- [ ] Have the ability to search a skin by name e.g. "super man"
- [ ] Add a way to preview the skin (chat with click menu)
- [ ] __**Look for api / webhook**__

[2022-03-27 07:35] Rossi-56 opened #907 "Change the skin except the head"
Hello,

Is it possible to change the skin except the head?
Is there a way to generate a new skin for each player where only head changes?

[2022-03-27 07:43] AlexProgrammerDE commented on #907
GitHub is only for proven bug reports and coding stuff. Please join our discord next time https://discord.gg/sAhVsyU
I swear we have been asked that same question 2 days ago. The answer is still no. You will have to manually replace the lower skin data with some image editor. You could then apply that skin with skinsrestorer.

[2022-03-27 07:43] #907 closed, assigned to nobody

[2022-03-27 07:58] Rossi-56 commented on #907
sorry

[2022-03-28 17:01] spikehidden opened #908 "Add placeholders"
- Adding of placeholders for uuid and player (or adding placeholderAPI support) for the use in default skin urls. - This would make it possible to use the following API and auto add the original Skin of Bedrock Players when using GeyserMC.
- API: https://tydiumcraft.net/docs/skinapi

[2022-03-28 17:05] xknat commented on #908
wrong plugin, you should be at https://github.com/SkinsRestorer/SRPlaceholderAPIExpansion

[2022-03-28 17:05] #908 closed, assigned to nobody

[2022-03-31 12:42] vincenzopio opened #912 "Skin reset for premium players - Velocity"
!! This bug happens on Velocity when a player connection is in online mode.

When a premium player changes his skin using /skin set command and then rejoins the network the player's skin resets.
I looked up the /sr props properties and SkinsRestorer, I don't know how and why, automatically clears the skin and sets the premium player his own skin even if changed by command.

[2022-03-31 13:42] xknat commented on #912
join our discord for support

[2022-03-31 13:42] #912 closed, assigned to xknat

[2022-04-03 00:24] xknat opened #914 "add ability to purge old skin & player files"

[2022-04-03 13:30] #302 closed

[2022-04-03 13:31] xknat commented on #249
moved to https://github.com/SkinsRestorer/SkinsRestorerX/issues/363

[2022-04-03 13:31] #249 closed

[2022-04-03 13:34] #638 closed

[2022-04-07 11:06] AlexProgrammerDE commented on #182
For convenience, we have added a BukkitHeadAPI class to the SkinsRestorer API.
https://github.com/SkinsRestorer/SkinsRestorerX/blob/dev/api/src/main/java/net/skinsrestorer/api/bukkit/BukkitHeadAPI.java
I wasn't aware this was actually requested. I guess this issue can be closed now.
The base64 data of a property or player should be able to obtain using the API. We may add a direct method for that

[2022-04-07 11:06] #182 closed

[2022-04-07 11:07] AlexProgrammerDE commented on #327
This is not an issue anymore. I know a lot of servers that use velocity and SR and no, their skins do not get reset.

[2022-04-07 11:07] #327 closed

[2022-04-07 11:11] AlexProgrammerDE commented on #317
Do people really need this? Imo it's kind of unnecessary... Do servers really have that long cooldowns? If they have like daily cooldowns maybe they should consider using permissions instead.

[2022-04-07 11:12] AlexProgrammerDE commented on #180
https://github.com/SkinsRestorer/SkinsRestorerX/blob/dev/api/src/main/java/net/skinsrestorer/api/bukkit/BukkitHeadAPI.java

[2022-04-07 11:16] AlexProgrammerDE commented on #295
Sadly players joining through bungeecord look like normal players.... I think this one may be impossible to do.

[2022-04-07 11:16] xknat commented on #317
Yes, some servers have 1x a day skin they allow and smach premium towards removing cooldown

[2022-04-07 11:18] xknat commented on #180
I think this was for a /skull command or a way to update skulls based on player skinsrestorer skin

[2022-04-07 11:22] AlexProgrammerDE commented on #180
oooooh. My bad.

[2022-04-07 18:51] AlexProgrammerDE commented on #893
Sorry for the delay. Please create your user like so: `CREATE USER 'pterodactyl'@'127.0.0.1' IDENTIFIED BY 'somePassword';`

[2022-04-07 18:52] AlexProgrammerDE commented on #893
I have had this issue on some setup before. The command above should fix the issue. Make sure to delete the other user first tho.

[2022-04-08 05:02] zentixua commented on #893
I can't.
In the latest release I have this error:
![image](https://user-images.githubusercontent.com/65168490/162368201-0ddd57cf-27d7-4ce6-8437-19feeebc475f.png)

[2022-04-08 05:03] zentixua commented on #893
but
![image](https://user-images.githubusercontent.com/65168490/162368250-e44ebceb-da39-4be7-bacc-6c5103bf28a9.png)

should i just wait?

[2022-04-08 05:26] AlexProgrammerDE commented on #893
This artifact should do till we've merged into dev https://github.com/SkinsRestorer/SkinsRestorerX/suites/5977084766/artifacts/205731441

[2022-04-08 05:39] zentixua commented on #893
Now i have this error:

[code]

[2022-04-08 06:05] AlexProgrammerDE commented on #893
Have you followed my instructions from above?

[2022-04-08 06:14] zentixua commented on #893
Yes.

I also tried to do this:
ALTER USER 'ab'@'localhost' IDENTIFIED WITH mysql_native_password BY 'some_pass';
flush privileges;

Nothing has changed

[2022-04-08 06:21] zentixua commented on #893
I did it all over again.  Same error.  My actions:

mysql> CREATE USER 'ab'@'127.0.0.1' IDENTIFIED BY 'some_pass';
Query OK, 0 rows affected (0.00 sec)

mysql> GRANT ALL PRIVILEGES ON * . * TO 'ab'@'127.0.0.1';
Query OK, 0 rows affected (0.00 sec)

mysql> flush privileges;
Query OK, 0 rows affected (0.00 sec)

SkinsR config:

MySQL:
  Enabled: true
  Host: 127.0.0.1
  Port: 3306
  Database: skinsr

[2022-04-08 07:08] AlexProgrammerDE commented on #893
What is your mysql version? Of the server.

[2022-04-08 07:33] zentixua commented on #893
MYSQL 8.0.28 (windows)

[2022-04-08 17:53] zentixua commented on #893
I'm sorry. Any changes?

[2022-04-08 18:12] AlexProgrammerDE commented on #893
Not currently. Maybe test out mariadb instead for now. It's basically a drop in mysql replacement and way faster.

[2022-04-09 05:36] zentixua commented on #893
Ah okay. Good luck!

[2022-04-09 10:13] xknat opened #927 "Steal skulls from skins gui"
Seems like you can steal skulls from GUI. oops...
To disable skins GUI:
Turn off skinswithoutperms in sr config (bungee)
Then give perms in config.yml: (bungee)
[code]

Dev notes:

[2022-04-09 13:16] xknat commented on #927
resolved with https://github.com/SkinsRestorer/SkinsRestorerX/commit/74c6f667955e2a6eb95b3456eb538441f93315ff

[2022-04-09 13:16] #927 closed, assigned to nobody

[2022-04-16 21:48] #845 closed, assigned to nobody

[2022-04-17 23:03] antibitcoin commented on #683
I have uninstalled it, just here to close the issue, the issue is when you install skin restorer on bungee, all heads can be picked up easily.

Regards

[2022-04-18 09:26] xknat opened #929 "option to switch between username & UUID"

[2022-04-24 19:23] radiant-ai commented on #927
It is still possible to steal skulls at Waterfall-Paper setup running with the dev build

[2022-04-24 20:54] xknat commented on #927
not true, your likely using release and not dev
dev builds: https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV

[2022-04-26 23:24] JinOuYongGu opened #934 "Icons(playerhead) in GUI can be moved into inventory with Waterfall"
## Describe the bug

When using Waterfall-484 and skinsrestorer 14.1.15, Icons(playerhead) in GUI can be moved into inventory with Waterfall. And the playerheads can be placed as normal blocks

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. Install SR both in waterfall and purpur server
2. input /skins command to open the gui
3. drop the icons out

**Expected behavior*

[2022-04-27 04:58] AlexProgrammerDE commented on #934
Please use a dev build. It is fixed in there. https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/317/artifact/build/libs/SkinsRestorer.jar
Next time please join our discord server instead. The bug fix will be released in the next update.

[2022-04-27 04:58] #934 closed, assigned to xknat

[2022-04-27 23:11] Flavelm opened #935 "The plugin is not compatible with Velocity?"
## Describe the bug

I checked in all modes, don't work!

I installed according to the instructions for spigot, but the skins did not appear.
But the skins in the tab are displayed.
Spigot plugin not compatible with paper?

There are no errors in the console.

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. wget https://github.com/SkinsRestorer/SkinsRestorerX/releases/d

[2022-04-28 06:09] xknat commented on #935
Please join our discord for support, GitHub are for confirmed bugs only.
Likely your using their broken Dev build...
Or did you not install according to our velocity installation steps

[2022-04-28 10:48] #935 closed, assigned to xknat

[2022-04-29 13:06] xknat opened #936 "rename bungee mode to proxy mode"

[2022-05-08 05:43] SPAWNRYS-ban opened #937 "Skin menu not working properly"
## Describe the bug

When you open the skins menu, it immediately breaks and you can pick up anything from it

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. have a bungee+paper server
2. Enter command /skins
3. click on an item

**Expected behavior**
I expected it to work as it should, like a regular menu

**Media**
https://youtu.be/aKvo7qn_RLQ

## Server information

[2022-05-08 06:16] xknat commented on #937
Already resolved #927
Use Dev build

[2022-05-08 06:16] #937 closed, assigned to xknat

[2022-05-08 19:54] xknat opened #938 "messages.yml is not created"

[2022-05-15 22:31] emongev commented on #886
I had this exact issue when having a period (".") as the prefix , i switched it to underscore to fix it, but it would be ideal to go back to period afterwards

[2022-05-18 18:13] vitaly-rudenko opened #939 "MySQL connnection problem: No suitable driver found for jdbc:mysql://..."
## Describe the bug

SkinsRestorer can't connect to the MySQL database on a Velocity proxy server.

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. Setup SkinsRestorer,
2. Configure MySQL connection,
3. Start the Velocity server.

**Expected behavior**
SkinsRestorer should start successfully.

## Server information

On what platform does your server run: **Paper server,

[2022-05-18 18:24] xknat commented on #939
@vitaly-rudenko can you try dev build number 319:
https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/319/artifact/build/libs/SkinsRestorer.jar

[2022-05-18 18:37] vitaly-rudenko commented on #939
Seems to connect successfully, but there is some SQL syntax error:
[code]

I'm investigating if that's a problem on my side. I've created the database like this:
[code]

[2022-05-18 18:40] xknat commented on #939
[2022-05-18T18:34:18.003Z] [ERROR]: 	at net.skinsrestorer.shadow.mariadb.export.ExceptionFactory.createException(ExceptionFactory.java:270)

likely because of https://github.com/SkinsRestorer/SkinsRestorerX/commit/c298555db38fdf93b966f763b2c8bfdc943afb54#diff-d6b48bbac472e63ebc7b94a0364353a1cfb5538e932ee7b6bde63b33965ff573R59

[2022-05-18 18:42] vitaly-rudenko commented on #939
I guess MySQL, at least 5.7, does not support this syntax :(

[2022-05-21 07:22] TheFloodDragon opened #943 "MySQl Error"
Server Version: Waterfall-Bootstrap:1.18-R0.1-SNAPSHOT:d79d5f1:486
Plugin Version: SkinsRestorer-14.2.0-SNAPSHOT

Server Enable Plugins:
FastLoginBungee, PistonMOTD-Bungee-5.0.1, PlayerBalancer-2.3.2-SNAPSHOT, SkinsRestorer-14.2.0-SNAPSHOT, TrChat-2.0.0-PRE-8

Logs:
![Error Report-1](https://user-images.githubusercontent.com/75253383/169640713-10195c7c-55d6-4408-89f7-f634c752bd01.png)

please fix

[2022-05-21 07:43] AlexProgrammerDE commented on #943
This was fixed already few hours ago: https://github.com/SkinsRestorer/SkinsRestorerX/commit/272f1dd49a9a0d049c3788267a2e3d8c768a76d9
Please use the latest dev build before reporting.

[2022-05-21 07:43] #943 closed, assigned to xknat

[2022-05-21 11:49] TheFloodDragon opened #944 "Skin GUI and SRPlaceholderAPIExpansion Questions"
## Describe the bug

After entering the /skins command, only the information is displayed, and the GUI is not opened
Using all placeholders on SRPlaceholderAPIExpansion will give an error

**Expected behavior**
Fix

## Server information

**On what platform does your server run? Bungeecord and Spigot**

* SkinsRestorer: last build version
* Spigot version: spigot-1.13.2
* Bungeecord version: Water

[2022-05-21 12:10] xknat commented on #944
We only support latest dev build!
https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/lastSuccessfulBuild/artifact/build/libs/SkinsRestorer.jar

[2022-05-21 12:10] #944 closed, assigned to xknat

[2022-05-21 12:13] TheFloodDragon commented on #944
That's the problem with that version！

[2022-05-21 12:23] xknat commented on #944
What version of [SRPlaceholderAPIExpansion](https://github.com/SkinsRestorer/SRPlaceholderAPIExpansion) are you using? This issue should also not be here but moved to SRPlaceholderAPIExpansion

[2022-05-21 12:35] TheFloodDragon commented on #944
SRPlaceholderAPIExpansion-1.6
The latest version of SRPlaceholderAPIExpansion

[2022-05-22 04:27] TheFloodDragon commented on #944
So, what time did you fix the bugs?

[2022-06-04 08:13] #936 closed, assigned to nobody

[2022-06-04 08:13] xknat commented on #938
resolved in 579e1cf5ffc6776991cd2693711fa05eeccfe91d

[2022-06-04 08:13] #938 closed, assigned to AlexProgrammerDE

[2022-06-04 08:20] xknat opened #948 "lowercase all things for names (mysql, storage)"

[2022-06-04 08:55] xknat opened #949 "sr reload won't update acf locale"
/sr reload stopped updating acf syntax in help command

[2022-06-04 09:01] #603 closed

[2022-06-04 09:03] xknat commented on #603
done, please try it with  latest dev build --> https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV

[2022-06-05 11:42] AlexProgrammerDE commented on #689
Done in #894

[2022-06-05 11:42] #689 closed, assigned to nobody

[2022-06-05 12:36] AlexProgrammerDE commented on #939
Yup it should be fixed in https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/332/artifact/build/libs/SkinsRestorer.jar

[2022-06-05 12:36] #939 closed, assigned to xknat

[2022-06-05 12:43] xknat commented on #185
disable command for auth server should be possible with #953
This issue will stay open for also disable onjoinskins for auth servers.

[2022-06-05 12:48] xknat commented on #159
duplicate of #185

[2022-06-05 12:48] #159 closed

[2022-06-05 13:00] xknat commented on #886
may already have been resolved

[2022-06-05 15:58] xknat commented on #631
Should be resolved by f368149a48443c54bf7b67f4531d3333e481166e

[2022-06-05 15:58] #631 closed

[2022-06-06 09:56] xknat commented on #901
resolved by c6c337c73cc3959b052773dfce49ea718b3ccf52

[2022-06-06 09:56] #901 closed, assigned to xknat

[2022-06-06 10:04] xknat commented on #361
resolved by 74c6f667955e2a6eb95b3456eb538441f93315ff

[2022-06-06 10:04] #361 closed

[2022-06-06 10:09] xknat commented on #695
resolved in 49c8e01b5f4b6d307ab53c976162b18411e75597

[2022-06-06 10:09] #695 closed, assigned to nobody

[2022-06-06 11:17] xknat commented on #311
This was likely because of #695 which is now closed.
I think that these things will come with the skinstorage rewrite where we won't have to do the game checks again and where we did figure out which method does what and not have applyskin do the same thing again.

[2022-06-06 11:17] #311 closed

[2022-06-07 23:43] linsaftw opened #956 "BungeeCord 1.19 support"
Error on startup in new BungeeCord 1.19

[code]

[2022-06-08 03:22] nhanledev commented on #956
hello linsa, just build your latest version of FlameCord and get this error too
This error also happen on 1.19 public beta test version of SkinsRestorer

[2022-06-08 07:35] xknat opened #957 "edit issue & pr template"
auto import in projects
consider forum
bug / enchantment option

[2022-06-08 14:03] xknat opened #959 "make self set skin ignore .other perms"
for example: xknat runs /skin set xknat url should work regardless of having `skinsrestorer.command.set.other`
20-7-22: This might be hard to do because of ACF and the way we use skinswithoutperms

[2022-06-09 15:24] TheFloodDragon opened #960 "SkinsRestorer-Bungee cannot be enabled in Waterfall"
* SkinsRestorer: 14.2.0-SNAPSHOT dev 336
* Waterfall version: 1.19-493
* IF bungee, did you put the plugin on all servers: Yes
* Java: 17

## Logs

![Error Logs](https://user-images.githubusercontent.com/75253383/172884219-81588757-cd73-4e88-8182-e45abcdf3eed.png)

Please check this

[2022-06-09 16:08] xknat commented on #960
1.19 is not yet supported for proxy

[2022-06-09 16:08] #960 closed, assigned to xknat

[2022-06-10 18:03] ghost opened #962 "Not support Geyser skins"
## Describe the bug

Bedrock Edition can see the JAVA version of the skin but the Java version cannot see the Bedrock Edition skin

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. Use bedrock and java join the game
2. Bedrock Edition can see the JAVA version of the skin but the Java version cannot see the Bedrock Edition skin

**Expected behavior**
Bedrock Edition can s

[2022-06-10 18:04] ghost commented on #962
I give bedrock a skinsrestorer.bypassdisabled but not work
or use skin updata

[2022-06-11 12:48] ExtremeFiretop commented on #962
Confirmed on 1.19 as well (Noticed your report was of 1.18.2)

Just wanted to mention before the plugin update for 1.19 that it did work with Bedrock clients/Geyser properly.
Since the dev build/update for 1.19 of this Plugin it no longer works for Geyser.

[2022-06-11 14:30] srlss123 commented on #962
I try lasted version 14.1.15. It's still not work
So I try dev - version

[2022-06-11 14:30] ghost commented on #962
I try lasted version 14.1.15. It's still not work
So I try dev - version

[2022-06-11 14:31] ghost commented on #962
It's because 14.1.15 doesn't support geyser properly, so I tried the latest dev version

[2022-06-12 09:43] MorkaZ opened #963 "SkinRestorerX (latest dev version) does not work with latest Waterfall (paper bungee fork)"
https://pastebin.com/AjGzVVST

[2022-06-12 09:45] MorkaZ commented on #963
text block (missing classes):
[code]

[2022-06-12 10:06] arturek1666 commented on #963
This was already reported here:
https://github.com/SkinsRestorer/SkinsRestorerX/issues/956

[2022-06-12 10:09] MorkaZ commented on #956
Will it be fixed in near future?

[2022-06-12 15:03] ExtremeFiretop commented on #962
This is a Geyser issue. After updating Geyser and Floodgate I no longer have the offline skin issues.

This does not appear to be an issue with SkinRestorerX.

Please update Geyser and Floodgate to resolve the issues. (Worked for me.)

This can probably be closed. Thanks

[2022-06-13 01:38] BboyZeroOne opened #964 "[BUG] SkinWithoutPerm & /skins & /skin set. [Paper 1.18.2]"
**SkinRestorerX: Latest version**
_Server: 1.18.2 (Paper 216)_

**Issues:**
After disabling `SkinWithoutPerm: false` on bungee config, this is what I found:
1. Players with `skinsrestorer.command` and `skinsrestorer.command.set` could not use the command `/skin set (skin)`
2. Staff/Admins with OP or the permission `*` does not have access to use the command either, with a return message 'You do no

[2022-06-13 07:34] gdslops opened #965 "Skin Layers dont work"
Skin Layers dont work regardless of skin name or url and as a result the skins look  ugly

[2022-06-13 07:49] gdslops commented on #965
i realised it was client-side problem

[2022-06-13 07:49] #965 closed, assigned to nobody

[2022-06-13 08:02] xknat commented on #964
not a bug, user mistake.
Commands are run from bungee side, permissions should be given on the same place (bungee)

[2022-06-13 08:03] xknat commented on #964
Already resolved. Good thing your not using our dev build so this can be closed. already resolved in dev build

[2022-06-13 08:03] #964 closed, assigned to nobody

[2022-06-13 08:57] xknat commented on #963
^

[2022-06-13 08:57] #963 closed, assigned to xknat

[2022-06-13 08:58] xknat commented on #956
We made a release that support 1.19 bungee on our discord in `#1-19-public-testing`
This one will work for ONLY 1.19 bungee.

[2022-06-13 11:13] BboyZeroOne commented on #964
Sorry, I forgot to add one more:
After denying permissions on worldguard `blocked-cmds` list, users still can use the command.

[2022-06-13 11:26] xknat commented on #964
Thanks, but also not a bug.

[2022-06-13 19:49] #956 closed, assigned to xknat, AlexProgrammerDE

[2022-06-13 22:06] linsaftw commented on #956
AWESOME!

[2022-06-13 22:10] xknat commented on #956
This has now been merged to our dev builds which you can find on https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/

[2022-06-14 17:52] JunkieCraft opened #968 "Bungeecord Skinrestorer error on enable"
I am having problems when I try to start skinrestorer in bungeecoord.

I have the latest version of skinrestorer 14.1.15 installed on each paperSpigot server and on my bungeecord server.

When I start the bungee server I get the following error:

`14.06 17:47:30 [Server] WARNING Error loading plugin SkinsRestorer
14.06 17:47:30 [Server] INFO java.lang.reflect.InvocationTargetException
14.06 17:47:

[2022-06-15 14:37] MrPepsikk commented on #968
I have a same error on BungeeCord server but I'm using version 1.19 of BungeeCord so It's quite annoying ngl =D

[2022-06-15 14:41] AlexProgrammerDE commented on #968
Duplicate of #956

[2022-06-15 14:41] #968 closed, assigned to nobody

[2022-06-15 14:50] ifloppy commented on #962
都Geyser了，肯定要有Floodgate，至少在我这里，是正常的（1.18），也许1.19更新后需要更新插件呢

[2022-06-16 10:30] xknat commented on #962
See ^
We did not make any major changes with the skin refresher...

[2022-06-16 10:30] #962 closed, assigned to xknat

[2022-06-16 10:35] ExtremeFiretop commented on #898
Hey @xknat

Just curious if this is the reason that SkinRestorer works with Floodgate on every second login for me?
As in; if I just booted the server 5 or 10 minutes ago and a Geyser/Floodgate user logs in, they will have no skin.

However if they instantly log out and login again their skin appears as normal.
I figured this may be what you are referencing but I am not sure of the symptoms of thi

[2022-06-16 10:45] xknat commented on #898
could be yeah, we did not check on their new version changes and event's may no longer match to make skins always work.

[2022-06-16 11:05] ExtremeFiretop commented on #898
It's very low priority; I am sure you have many other things that will take up more of your precious time.
It was simply one of the things I noticed after updating to the dev build of Floodgate and SkinRestorer.

Most of my users don't even notice or care; if they do I just tell them to try logging in again and it works every time lol.
Thanks for your time and explanation. I appreciate it.

[2022-06-16 13:33] MossCG opened #973 "Bungeecord code changes"
## Describe the bug

I updated my waterfall from 488 to 496, and an exception was appeared.
you can see changes from bungeecord's commits:

https://github.com/SpigotMC/BungeeCord/commit/eccdf87f2217ae3a0f6943134d8c61df3f9d0097?diff=split#diff-7c3f50add43fe2b0cd700cf1d2a47e5fa0bb5d0045693477331c77196f442180

net.md_5.bungee.connection.LoginResult$Property was removed
stacktraces:
[21:06:41 WARN]: E

[2022-06-18 18:46] Zoxplers opened #974 "Bedrock players with same name as java player causes bedrock player to use java player skin."
I'm using online mode and want to stop bedrock player ".Zoxplers" from using skin java player "Zoxplers" on join.

[2022-06-18 19:26] Zoxplers commented on #974
running build 351 on backend, which forces standalone mode and not running it on the proxy fixes this issue

[2022-06-18 19:26] #974 closed, assigned to nobody

[2022-06-19 07:45] davidefalconi69 opened #975 "Invalid move player packet received"
On my paperspigot 1.19 minecraft server, nobody can join the server and receives the error message "Invalid move player packet received". It happens when this plugin is used in combination with the plugin "Images" (https://github.com/Andavin/Images) and online-mode is set to false in the file server.properties

[2022-06-19 08:22] xknat commented on #975
Please use our template.
For user support join discord

[2022-06-19 08:22] #975 closed, assigned to nobody

[2022-06-19 08:44] AlexProgrammerDE commented on #973
The issue is well known and already fixed. Either wait for the next release or join our discord server and download the latest dev build.

[2022-06-19 08:44] #973 closed, assigned to xknat

[2022-06-19 18:43] xknat opened #976 "Use seconds timestamp instead of miliseconds"

[2022-06-19 18:48] xknat opened #977 "Improve MYSQL table"
- [ ] Use foreign keys
- [ ] Use INT instead of TXT for timestamp
- [ ] Make Nick UNIQUE to avoid duplicate

[2022-06-20 16:08] xknat opened #980 "Add ability to use dev builds for auto updater"

[2022-06-22 10:32] HSGamer opened #984 "NPE on getSkinName when the server is behind BungeeCord"
## Describe the bug

I got an NPE when using `SkinsRestorerAPI#getSkinName` on my Spigot server that has `bungeecord` enabled

## How can we reproduce what you got?

1. Setup BungeeCord, then add a Spigot server to the proxy
2. Install SkinsRestorer for both BungeeCord & Spigot
3. Make a plugin that call `SkinsRestorerAPI#getSkinName`
4. Try the plugin and get the error

**Expected behavior**
A cl

[2022-06-22 10:35] xknat commented on #984
api should be done on bungee side, this is where the data is stored

[2022-06-22 11:32] HSGamer commented on #984
Well... I'm making a plugin on Paper that fix the slow fetching on `PlayerProfile` by forcing it with SkinsRestorer's data. It HAS to be on Paper side.
It worked with no exception on older version of `SkinsRestorer`
Is there any alternative way to do that?

[2022-06-22 11:38] HSGamer commented on #984
I'll find it myself.

[2022-06-22 14:58] theqa-ninja opened #986 "PaperMC 1.19 can't load SkinsRestorer.jar on start"
## Describe the bug

Unable to load SkinRestorer on Paper MC server

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. Have MC vanillia running on Paper as version 1.19
2. navigate to the minecraft/plugins folder
3. ran `wget -o SkinsRestorer.jar https://www.spigotmc.org/resources/skinsrestorer.2124/download?version=457289`
4. ran `chmod 755 SkinsRestorer.jar`
5. restarte

[2022-06-22 14:59] xknat commented on #986
your zip file is corrupt, not skinsrestorer issue `java.util.zip.ZipException: zip END header not found`

[2022-06-22 14:59] #986 closed, assigned to xknat

[2022-06-22 15:01] xknat commented on #986
btw, we have a build in updater

[2022-06-22 15:06] theqa-ninja commented on #986
hmm... weird, why is wget giving me a corrupt zip >_<.  Seems like a valid link when I download it normally and check it on my PC

[2022-06-22 17:10] theqa-ninja commented on #986
very odd, yeah, i downloaded the file from the same link and copied to the box it worked fine.  Thanks @xknat !

[2022-06-23 15:47] xknat opened #987 "color codes mess up in logs"
logs look like this:
[code]

[2022-06-29 13:58] #645 closed

[2022-06-29 14:44] xknat commented on #582
fixed in [#916](https://github.com/SkinsRestorer/SkinsRestorerX/pull/916)

[2022-06-30 07:20] AlexProgrammerDE commented on #987
There is no easy way around this. We could remake all our logs to use less ASCII characters, though.

[2022-06-30 08:56] MuMuMuCODE opened #989 "Trmenu cannot call the API normally"
[16:54:50 WARN]: [TrMenu] Plugin TrMenu v3.1.12 generated an exception while executing task 34699
java.lang.NullPointerException: Cannot invoke "java.nio.file.Path.resolve(String)" because "this.skinsFolder" is null
        at net.skinsrestorer.shared.storage.SkinStorage.getSkinData(SkinStorage.java:292) ~[SkinsRestorer14.2.1.jar:?]
        at net.skinsrestorer.shared.storage.SkinStorage.getSkinDa

[2022-06-30 12:44] #805 closed, assigned to xknat

[2022-06-30 12:44] #977 closed, assigned to nobody

[2022-06-30 12:49] xknat opened #990 "Convert timestamp from milliseconds to seconds and use MYSQL TIMESTAMP"

[2022-06-30 18:19] #914 closed, assigned to xknat

[2022-06-30 18:33] xknat commented on #693
@Link0Darck resolved on latest dev build?

[2022-07-01 01:39] Link0Darck commented on #693
Yes me problem is dix thx you good support 😺

[2022-07-01 08:48] #693 closed, assigned to AlexProgrammerDE

[2022-07-01 12:11] xknat commented on #744
we now use axiom, this can be closed

[2022-07-01 12:11] #744 closed, assigned to xknat

[2022-07-03 10:25] AlexProgrammerDE commented on #556
Does that happen usually?

[2022-07-03 10:29] AlexProgrammerDE commented on #980
https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/lastSuccessfulBuild/api/json

[2022-07-03 10:54] xknat commented on #556
GitHub has a API limit, if you are a shared host you can get rate limited

[2022-07-03 11:12] AlexProgrammerDE commented on #556
But why a 404? That usually means not found.

[2022-07-03 11:56] xknat commented on #556
oh ehm, i think firewall stuff
ppl allowing not github api, no clue. i think what i did mean was try again on not being able to request / download

[2022-07-03 16:01] xknat commented on #629
This looks to be resolved with the way we now handle the api
https://github.com/SkinsRestorer/SkinsRestorerX/pull/970

[2022-07-03 16:01] #629 closed

[2022-07-07 16:15] AlexProgrammerDE commented on #789
The Bukkit.spigot().getConfig() should normally work just fine as a replacement, and we are using that as our API.

[2022-07-07 16:16] AlexProgrammerDE commented on #434
Should actually be resolved now. We use thread sleep together with a single thread executor, so they all have to wait till their call happened and they all have to wait the same delay.

[2022-07-07 16:16] #434 closed

[2022-07-09 15:54] xknat opened #1000 "Floodgate skins conflict with SkinsRestorer"
tested with current latest dev builds.
`/sr apply` command does resolve the issue.
Issue is when the player joins and floodgate is applying the skin.

==== setup ===
auth type: floodgate (in geyser config)
offline mode

[2022-07-09 15:55] xknat commented on #1000
1000 Th issue / PR 🎊

[2022-07-10 13:14] AceSardonyx commented on #1000
gwa

[2022-07-10 17:04] xknat opened #1001 "applying skin does interrupt potion effect's"
Works on 1.18+
==================
applying skin can have a bad / positive effect on the potion.
sometimes positive as negative

Effect & effect of refreshing the skin
| Effect name          | Normal behaviour                      | SkinsRestorer applying skin     |
|----------------------|---------------------------------------|---------------------------------|
| Darkness & blindness | Player can

[2022-07-15 10:49] xknat opened #1004 "Validate if GenericProperty start with "texture" on API usage"

[2022-07-20 17:58] xknat commented on #989
not a bug, api cant be used on backend while in proxy mode

[2022-07-20 17:58] #989 closed, assigned to xknat

[2022-07-20 18:00] xknat opened #1006 "Allow backendAPI while in proxymode"

[2022-07-20 18:00] xknat commented on #984
Duplicate of https://github.com/SkinsRestorer/SkinsRestorerX/issues/1006

[2022-07-20 18:00] #984 closed, assigned to xknat

[2022-07-20 18:15] xknat commented on #733
redundant by https://github.com/SkinsRestorer/SkinsRestorerX/pull/970

[2022-07-20 18:15] #733 closed, assigned to xknat

[2022-07-21 12:46] xknat opened #1008 "send locale to backend (skinsGui)"
Send the locale to backend over PluginMessageChannel

[2022-07-24 21:29] Vayunee opened #1009 "Problems connecting to MySql"
Hi, I can't use mysql with SkinsRestorer (Bungee). The error is:
[code]

[2022-07-24 21:45] xknat commented on #1009
For support, please join our discord.
This does not look like a bug but rather to little permissions given to the mysql user

[2022-07-24 21:45] #1009 closed, assigned to xknat

[2022-07-24 23:54] xknat commented on #905
Found a possible way:

1. player runs /skin search string
2. send message:
Hey there! We think you can find a skin matching "string string" here: https://namemc.com/minecraft-skins/tag/string-string
Or mabe you find what your looking for here: https://namemc.com/minecraft-skins/tag
if you found a skin, run /skin
example: /skin https://namemc.com/skin/28a50dff226d744e
3. player runs /skin https://n

[2022-07-25 16:22] xknat commented on #905
NameMc gave geen light on their discord:
![image](https://user-images.githubusercontent.com/10220139/180827138-adefcd12-32cf-40cd-8c4e-c85eaf85042c.png)

[2022-07-27 19:21] akemin-dayo opened #1013 "Leaving `EnableProtocolListener` on the default value of `false` causes legacy clients connecting through ViaRewind to be unable to update their position on the server."
## Describe the bug
Leaving `EnableProtocolListener` on the default value of `false` causes legacy clients connecting through ViaRewind to be unable to update their position on the server.

When `EnableProtocolListener` is set to `true`, everything works as expected.

---

## How can we reproduce what you got?
1. Set up a [Paper 1.17.1](https://api.papermc.io/v2/projects/paper/versions/1.17.1/buil

[2022-07-27 20:09] xknat commented on #1013
is this issue reproducible on viaversion [4.3.1](https://github.com/ViaVersion/ViaVersion/releases/tag/4.3.1)? as 4.4.0 has been released a view hours ago

[2022-07-27 21:58] akemin-dayo commented on #1013
Yes, it happens on the older versions, too.

[2022-07-28 22:34] FITFC opened #1014 "Not working on 1.19.1"
SkinRestorer fails to start on 1.19.1

I get this error in my console:

https://mclo.gs/5cTJMEs

PurpurMC 1.19.1 #[1737]

[2022-07-28 22:40] xknat commented on #1014
use dev build

[2022-07-28 22:40] #1014 closed, assigned to xknat

[2022-07-29 11:05] xknat opened #1016 "hook with gsit to stop a player sitting on applyskin"
Players can walk around client side when sitting (same as boat) reported by @MarissaKirisame

plugin: Gsit - [spigot](https://www.spigotmc.org/resources/gsit-modern-sit-seat-and-chair-lay-and-crawl-plugin-1-13-x-1-19-x.62325/) - [Github](https://github.com/Gecolay/GSit)

plugin notes:
[code]

Use following api:
[isSitting (LivingEntity Entity)](https://github.com/Gecolay/GSit/blob/9f37a08dd02ccb76

[2022-07-29 13:21] #905 closed, assigned to nobody

[2022-08-02 09:18] Futodama opened #1019 "1.19.1 Support. Console starting Error full log"
[12:13:40] [Server thread/INFO]: [SkinsRestorer] Enabling SkinsRestorer v14.2.1
[12:13:40] [Server thread/ERROR]: [33;1m[[32;22mSkinsRestorer[33;1m] [0;39mYour Minecraft version is not supported by this version of SkinsRestorer! Is there a newer version available? If not, join our discord server![0;39m
[12:13:40] [Server thread/WARN]: net.skinsrestorer.shared.exception.InitializeException: ne

[2022-08-02 11:39] xknat commented on #1019
User problem

[2022-08-02 11:39] #1019 closed, assigned to xknat

[2022-08-02 11:40] xknat commented on #1019
Also duplicate of https://github.com/SkinsRestorer/SkinsRestorerX/issues/1014

[2022-08-02 22:36] xknat opened #1020 "Use ACF @Private (hidden sub command) to forward /skin menu & /skin gui to /skins"

[2022-08-03 12:20] xknat opened #1021 "mineskin invalid_api_key & error handeling"
- [ ] give more clear feedback to players on what went wrong if they can resolve it
- [ ] give concrete information to server owners
- [ ] better error handeling
- [ ] make some stuff debug

[2022-08-04 00:12] 1Pootis1 opened #1023 "error to console"
## Describe the bug

**Screenshots**
![image](https://user-images.githubusercontent.com/73141732/182736122-167a87f9-61b3-491f-b517-849d1c4495df.png)

## Server information

**On what platform does your server run? (Bungeecord/Spigot/Bukkit)**

Paper 1.19.1 build 109

**What version? Do NOT answer LATEST**

* SkinsRestorer: 14.2.1
* Spigot version: 1.19.1
* Bungeecord version: -
* IF bungee, did yo

[2022-08-04 05:41] AVuTuVA opened #1024 "Error velocity"
latest dev build
latest Velocity Proxy
![image](https://user-images.githubusercontent.com/66278054/182771125-fa4a70de-6d61-4121-872c-9756c3d0a491.png)

[2022-08-04 08:55] xknat commented on #1023
Duplicate of https://github.com/SkinsRestorer/SkinsRestorerX/issues/1014

[2022-08-04 08:55] #1023 closed, assigned to xknat

[2022-08-04 08:57] xknat commented on #1024
Invalid. Template not used

[2022-08-04 08:57] #1024 closed, assigned to xknat

[2022-08-04 15:09] xknat opened #1025 "lower case names in config to avoid confusion"

[2022-08-04 15:24] xknat opened #1026 "sr stopped working for dev builds of velocity (3.1.2+)"
edit:
resolved by https://github.com/SkinsRestorer/SkinsRestorerX/commit/b5b79bc6b9a87271962bc59e8c56f304eaaa566e
use dev builds from https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/

-----
ticket:
![image](https://user-images.githubusercontent.com/10220139/182886566-2d7e6bd4-a921-4a7b-8345-7ea57dafd578.png)

works on 14.2.1
works on stable velocity but not their dev builds (3.1.2 an

[2022-08-04 15:27] xknat commented on #886
should be resolved https://github.com/SkinsRestorer/SkinsRestorerX/blob/745eedc744cc21e618ac804f73521a2c86e4aaea/shared/src/main/java/net/skinsrestorer/shared/storage/SkinStorage.java#L259

[2022-08-04 15:27] #886 closed, assigned to nobody

[2022-08-04 16:16] AVuTuVA commented on #1026
I wrote to you this morning that it doesn't work...

[2022-08-04 20:44] DonnyDev-FS commented on #1026
Same for me

[2022-08-05 13:32] KungfuEpt commented on #1026
Same

[2022-08-05 13:35] xknat commented on #1026
no need to bump this ty

[2022-08-05 16:01] xknat commented on #1026
resolved by https://github.com/SkinsRestorer/SkinsRestorerX/commit/b5b79bc6b9a87271962bc59e8c56f304eaaa566e
use dev builds from https://ci.codemc.io/job/SkinsRestorer/job/SkinsRestorerX-DEV/

[2022-08-05 16:01] #1026 closed, assigned to AlexProgrammerDE

[2022-08-06 00:34] xknat opened #1028 "Put space before skin search syntax"

[2022-08-06 10:23] Overwrite987 opened #1030 "plugin does not working on velocity"
## Describe the bug

The plugin does not work on latest velocity. At startup, it throws an error and does not perform its functions after starting the server.

## How can we reproduce what you got?

Steps to reproduce the behavior:

1. Download latest velocity from **https://papermc.io/downloads#Velocity**
2. Download latest SR from https://www.spigotmc.org/resources/skinsrestorer.2124/
3. install

[2022-08-06 10:39] xknat commented on #1030
duplicate of https://github.com/SkinsRestorer/SkinsRestorerX/issues/1026

[2022-08-06 10:39] #1030 closed

[2022-08-06 11:30] Decakeee opened #1031 "Doesn't work on Velocity"
## Describe the bug

Latest version Skinrestorer doesn't work on latest version Velocity

## How can we reproduce what you got?

Run Skinrestorer on Velocity

**Expected behavior**
Skinrestorer will work

## Server information

Pufferfish & Velocity

* SkinsRestorer: 14.2.2
* Spigot version: git-Pufferfish-24 (MC: 1.19) (Implementing API version 1.19-R0.1-SNAPSHOT) (Git: 37f936f on HEAD)
* Bungeec

[2022-08-06 11:35] xknat commented on #1031
We just released the fix man cmon update update update

[2022-08-06 11:35] #1031 closed, assigned to nobody

[2022-08-06 11:41] Decakeee commented on #1031
what timings bro :)

[2022-08-06 11:43] xknat commented on #1031
next time look at https://github.com/SkinsRestorer/SkinsRestorerX/issues before creating a issue
you would have seen that it was already resolved on dev build

[2022-08-06 20:24] xknat commented on #1028
done in https://github.com/SkinsRestorer/SkinsRestorerX/commit/0ec6937ee7165980a70bf4d95d17b5788f072f5c

[2022-08-06 20:24] #1028 closed, assigned to xknat

[2022-08-09 13:45] xknat opened #1034 "put c.validMojangUsername in mojangapi"

[2022-08-10 12:57] Zhou-Shilin opened #1036 "not working on mohist servers"
(sorry but i speak chinese instead of english so my grammar may not right)
this plugin is not working on mohist server (forge + bukkit)
someone has skin but someone (includes somebody who buys minecraft from mojang _（这里指包括正版玩家在内，可能我写的有点问题qwq）_) only have steve or alex

can u make a plugin (or a mod just like for sponge) for mohist and other forge + bukkit server) ?

[2022-08-10 13:33] xknat commented on #1036
mohist is not yet supported, see https://github.com/SkinsRestorer/SkinsRestorerX#telescope-compatibility

[2022-08-10 13:33] #1036 closed, assigned to nobody

[2022-08-10 13:39] Zhou-Shilin commented on #1036
ok

[2022-08-14 18:37] xknat opened #1038 "fix defaultskins ApplyForPremium"

[2022-08-15 11:49] xknat commented on #310
done in 0c40b4ea0d97dcc269ea2f077fa4af52edab0889

[2022-08-15 11:49] #310 closed

[2022-08-17 14:26] xknat commented on #1025
done

[2022-08-17 14:26] #1025 closed, assigned to xknat

[2022-08-17 18:54] AlexProgrammerDE commented on #1038
Fixed with https://github.com/SkinsRestorer/SkinsRestorerX/commit/40ecd742db1ec94cab8ddeb0e8ae5c035c3c052f

[2022-08-17 18:54] #1038 closed, assigned to nobody

[2022-08-19 19:18] xknat opened #1039 "catch SQLInvalidAuthorizationSpecException with human message (no stacktrace)"
[14⚠:02:05] [main/INFO]: Loaded plugin SkinsRestorer version 14.2.3 by knat, AlexProgrammerDE, Th3Tr0LLeR, McLive, DoNotSpamPls
[14:02:06] [main/WARN] [net.skinsrestorer.shadow.mariadb.message.server.ErrorPacket]: Error: 1045-28000: Access denied for user 'HyBlock'@'vmi983124.contaboserver.net' (using password: YES)
[14:02:06] [main/ERROR] [net.skinsrestorer.shadow.mariadb.pool.Pool]: error initia

[2022-08-19 19:20] xknat opened #1040 "catch SQLInvalidAuthorizationSpecException and return nonstacktrace human message"
[code]

[2022-08-19 19:24] xknat opened #1041 "replace bungeecord with proxy in config.yml (add definition)"

[2022-08-22 15:32] xknat opened #1043 "remove trace from e.getMessage"
![image](https://user-images.githubusercontent.com/10220139/185960224-b2d2f322-8c9b-4264-97db-0d536777d569.png)

trace should be in e.GetCause ??

[2022-08-22 15:44] #1021 closed, assigned to xknat

[2022-08-22 21:16] xknat opened #1044 "set EmptyProperty on removeSkin & applyskin"

[2022-08-25 08:29] WhatUsd opened #1045 "Skin doesn't change"
## Describe the bug

A clear and concise description of what the bug is.
I'm trying to use skinsrestorer, when I do /skin set ..., it says my skin has been changed but I'm still left with the Alex Skin, a few seconds after that, I get a message saying "an internal error occurred while attempting to tab-complete this command"
## How can we reproduce what you got?
Basically, I'm on a shockbyte hosti

[2022-08-25 09:40] xknat commented on #1045
Mohist is not a supported implementation

[2022-08-25 09:40] #1045 closed, assigned to xknat

[2022-08-25 20:35] #1043 closed, assigned to nobody

[2022-08-26 13:05] xknat opened #1047 "Wardrobe"
Having your own wardrobe with your own skins
Note: this could be a possible addon

[2022-09-04 21:10] yuankun1 opened #1052 "After installing the skin, chunks disappear."
Steps to reproduce the behavior:

1. Skinsrestor works with CMI plug-ins
2. Turn on the "spawnonjoin" option of CMI
3. Enter the server and switch to another world
4. When you re-enter the server, it will be forced to switch, and the world block will disappear
5. And authme's "forcespanloconjoin" option/It will also lead to the problem that blocks disappear
6. No errors
![1](https://user-images.gi

[2022-09-04 21:23] xknat commented on #1052
Invalid: catserver is not supported

[2022-09-04 21:23] #1052 closed, assigned to xknat

[2022-09-05 11:53] xknat opened #1053 "mysql init issue on velocity"
Ticket: ticket-1661610511
SkinsRestorer version: v14.2.4-SNAPSHOT
ProxyMode: Velocity-Plugin
Server: 3.1.2-SNAPSHOT (git-6496983c-b171)
[14:27:16 ERROR]: Exception in task net.skinsrestorer.shared.commands.ISkinCommand$$Lambda$2192/0x0000000801612988@597e5e87 by plugin SkinsRestorer
java.lang.NullPointerException: Cannot invoke "net.skinsrestorer.shared.storage.MySQL.query(String, Object[])" becau

[2022-09-05 11:57] xknat opened #1054 "Skinsgui & velocity, is it a thing?"
Ticket ticket-1660401033 report's that skinsgui is not working for velocity.
Need to check and confirm its working under default installation
"`When I set "disableProxyMode.txt" on the backend server and remove the proxy plugin the command works correctly again`"
![ZaGqSkG](https://user-images.githubusercontent.com/10220139/188443777-cbb1871c-89e8-427d-828d-7682cc036452.png)

[2022-09-05 12:06] xknat opened #1055 "Feature request: apply skin on perms"
TBD:
![image](https://user-images.githubusercontent.com/10220139/188445505-73bd8ba7-2e61-4f6e-9d82-2bc2356e8860.png)

[2022-09-07 10:01] xknat opened #1056 "Use ACF @Private to create "hidden" /skin gui shortcut"

[2022-09-07 10:11] xknat commented on #1056
duplicate of #1020

[2022-09-07 10:11] #1056 closed, assigned to xknat

[2022-09-09 18:21] xknat commented on #1016
Tested locally, issue seems to be fixed on chair

[2022-09-10 09:54] #1041 closed, assigned to nobody

[2022-09-10 10:01] xknat commented on #646
done in #875

[2022-09-10 10:01] #646 closed

[2022-09-10 14:34] MatiRosen commented on #194
Hi, could u solve this? Im having same issue

[2022-09-10 14:50] xknat commented on #194
Our github issues are not for support but for issues tracking.
For support, please join our discord (see  README)

[2022-09-13 11:01] xknat commented on #1016
ticket-1663066053 show's video proof of other player still see the player sitting.

[2022-09-18 07:57] xknat opened #1059 "[plugin incompatibility] NickApi"
We don't support plugins hooking into nickapi as nickapi has the ability to change uuid which we don't go well with

common issue:
`while i have the nick api plugin, skins only apply with rejoin`

[2022-09-18 16:30] THEPORAK opened #1060 "Skin Problem"
I've tried them all, practically on the server others can see the skin of others but not their own

[2022-09-18 16:57] xknat commented on #1060
For customer support, please join our discord (link in readme)

[2022-09-18 16:57] #1060 closed, assigned to xknat

[2022-10-02 07:30] xknat opened #1070 "Skinsgui can't get locale if in proxy mode"
[12:19:25 WARN]: java.lang.NullPointerException: Cannot invoke "net.skinsrestorer.shadow.aikar.locales.LocaleManager.getMessage(Object, net.skinsrestorer.shadow.aikar.locales.MessageKey)" because "localeManager" is null
[12:19:25 WARN]:        at SkinsRestorer.jar//net.skinsrestorer.shared.SkinsRestorerAPIShared.getMessage(SkinsRestorerAPIShared.java:47)
[12:19:25 WARN]:        at SkinsRestorer.ja

[2022-10-05 08:27] xknat opened #1075 "Add Aegis support"

[2022-10-05 08:43] #1070 closed, assigned to nobody

[2022-10-05 08:58] xknat opened #1076 "Make SkinsRestorer a flexable backend instance"

[2022-10-10 09:26] xknat opened #1077 "MYSQL unable to find valid certification path to requested target"
using SkinsRestorerX-DEV #479 (7155bfa2cfd3dc78324862ce46c9f73b17e4277d Fix build - Alex)
tickets: #ticket-1655847296 & ticket-1665392158

[code]

[2022-10-10 20:50] AlexProgrammerDE commented on #1077
https://mariadb.com/kb/en/using-tls-ssl-with-mariadb-java-connector/#server-certificate-is-not-provided-to-client

[2022-10-11 09:29] xknat commented on #1077
fixed by 63901481787d1727548c31c1048f0101ed019d0b

[2022-10-11 09:29] #1077 closed, assigned to AlexProgrammerDE

[2022-10-11 10:22] xknat commented on #1076
from 26278b7dd2734f1b590d3090f3d06f445e86bfad, players can now create a file called `enableSkinStorageAPI.txt` on backend to enable skinstorage

[2022-10-11 10:22] #1076 closed, assigned to xknat, AlexProgrammerDE

[2022-10-11 10:22] xknat commented on #1006
from 26278b7dd2734f1b590d3090f3d06f445e86bfad, players can now create a file called `enableSkinStorageAPI.txt` on backend to enable skinstorage

[2022-10-11 10:22] #1006 closed, assigned to AlexProgrammerDE

[2022-10-11 10:35] xknat commented on #1016
Opened issue on https://github.com/Gecolay/GSit/issues/73

[2022-10-11 12:21] xknat commented on #849
Travertine now loads (1.16-178)

[2022-10-11 12:21] #849 closed, assigned to AlexProgrammerDE

[2022-10-11 15:00] xknat opened #1079 "Cache skinsgui pages"
This will improve performance for large host with a large skin storage

[2022-10-11 15:05] xknat commented on #435
created new issue from not already committed / issued feature's listed above

[2022-10-11 15:05] #435 closed

[2022-10-12 12:09] xknat opened #1080 "hook with our bstats new diagrams: uses_mysql & proxy_mode"
- [ ] `type: Simple Pie Name: Uses MYSQL ID: uses_mysql`
- [ ] `type: Simple Pie Name: Proxy Mode id:proxy_mode`

[2022-10-18 14:53] Luciusred commented on #1054
really need it

[2022-10-20 04:53] CC-3301 opened #1086 "Sponge API 8/9/10 support"
Very good plugin, I started to use from Minecraft 1.7.10 version until now, I currently switched to SpongeForge 1.16.5 server, but I found that the plugin is only updated to API7, I hope the developer has time to update to API8

[2022-10-20 07:38] xknat commented on #1086
i know we did some work in https://github.com/SkinsRestorer/SkinsRestorerX/pull/809 (but closed it)
i don't recall what our judgment was on this

[2022-10-20 20:05] xknat commented on #1000
I did some testing.
1. floodgate / gesyer is NOT canceling our applyEvent
2. SkinsRestorer does correctly apply the skin
3. Floodgate / Geyser is Slower then SkinsRestorer, this means that floodgate / geyser will override the skin as it will be applyed later due to mineskin delay.

Steps to be taken:
Check out on floodgate / geyser side for any skin event we can cancel if the player has set a skin

[2022-10-24 18:46] xknat opened #1088 "Mysql password containing special characters throws java.sql.SQLInvalidAuthorizationSpecException"

[2022-10-29 17:26] ghost opened #1090 "[Security Vendor] Malware detected while adding skinsrestorer to the server"
I found a malware in SkinsRestorer while scanning the plugins folder. I downloaded the jar from spigotmc.org (I also freshly installed SkinsRestorer on a test server it also found a malware)\
I scanned my OS with an antivirus and none malware found.\
Please do something with this\
![obraz_2022-10-29_192159192](https://user-images.githubusercontent.com/76450526/198844931-57057028-d744-48e5-acd8-22e

[2022-10-29 17:33] xknat commented on #1090
Thanks for creating a issue.
We use os info to determine environment versions on which the plugin is run on.
I don't see how this could be resulting malware for your server.
Maybe @AlexProgrammerDE could add more information on this matter.

[2022-10-29 17:50] xknat commented on #1090
@SuperGDev the file OSINFO can be found here: https://github.com/fusesource/jansi/blob/master/src/main/java/org/fusesource/jansi/internal/OSInfo.java

[2022-10-29 17:52] ghost commented on #1090
By OS i mean my PC's Operating System (Winodws 10)\
I scanned my PC with Malwarebytes

[2022-10-29 18:00] xknat commented on #1090
i think you misunderstood, the mentioned file that your scanner thinks is malware is likely not malware and the sourcecode can be find on  <https://github.com/fusesource/jansi/blob/master/src/main/java/org/fusesource/jansi/internal/OSInfo.java>

[2022-10-29 19:06] ghost commented on #1090
Then how did the whole minecraft proxy got infected with spigot MALWARE.Systemaccess.exec? Ive got a screenshot of the whole server getting infected

[2022-10-29 19:21] xknat commented on #1090
@SuperGDev read carefully.
the word "[MIGHT](https://www.oxfordlearnersdictionaries.com/definition/english/might_1)" definition: used when showing that something is or was possible.
In this case, it's likely a false positive, this means that your scanner is saying that it think it **might** be malware while it's not.

[2022-10-29 19:24] xknat commented on #1090
Keep in mind that our source is public, you can look at the code yourself to determine if we are releasing malware or not.
We are being used by over 30.000 servers, i think we would hit newspapers if we were hacking / having malicious intent.
As for why this happens? i don't know. i would need to check with AntiMalware plugin.

[2022-10-29 19:24] ghost commented on #1090
Alright thanks. I will check after a week if something bad happens again. Sorry I thought it was a malware 😂

[2022-10-29 19:24] #1090 closed, assigned to AlexProgrammerDE

[2022-10-31 21:13] xknat opened #1092 "MYSQL password may not contain some special characters"
issue is on: `{};=&`

[2022-11-03 19:30] xknat opened #1093 "change permissions from skinsrestorer.command to skinsrestorer.skin.set and skinsrestorer.sr.props"

[2022-11-05 08:51] xknat opened #1094 "[plugin-incompatibility] plugin / command hide plugins"
some plugin / command hide plugins can prevent skinsrestorer from function.

[2022-11-07 06:31] xknat opened #1096 "use optional instead of null in SkinsRestorerAPI"

[2022-11-07 10:06] xknat opened #1097 "ability to change player head (not skull item)"

[2022-11-08 19:37] xknat opened #1099 "NumberFormatException on "big" config size (1500000000000000 cooldown)"

[2022-11-10 09:20] xknat opened #1101 "Support pufferfish"

[2022-11-13 18:57] xknat opened #1105 "Support purpur"

[2022-11-14 07:58] xknat opened #1106 "Add /sr apply all hidden console command"
Add a way to refresh all players skin.
This can be useful for event servers and or changing skins

[2022-11-14 14:52] AlexProgrammerDE commented on #893
May you recheck whether this issue occurs with latest dev build? We have made a bunch of changes concerning MySQL flags.

[2022-11-14 15:12] typicalsmc opened #1107 "unable to load the plugin on sponge"
## Describe the bug

SkinRestorer unable to load on sponge server

## How can we reproduce what you got?

Steps to reproduce the behavior:

install plugin on sponge 1.12.2
See error

## Server information

**On what platform does your server run? (Bungeecord/Spigot/Bukkit)**
Forge
**What version? Do NOT answer LATEST**
forge-1.12.2-14.23.5.2860.jar
spongeforge-1.12.2-2838-7.4.7.jar

* SkinsRestore

[2022-11-15 07:23] xknat commented on #1107
Sppongeforge is not supported, see readme for list

[2022-11-15 07:23] #1107 closed, assigned to xknat

[2022-11-15 16:42] AlexProgrammerDE commented on #1008
Backend now initializes with language, even in proxy mode.

[2022-11-15 16:42] #1008 closed, assigned to xknat

[2022-11-17 18:30] uRyanxD opened #1109 "Support pandaspigot"
See: https://github.com/hpfxd/PandaSpigot/issues/44

[2022-11-17 18:37] xknat commented on #1109
References: https://github.com/SkinsRestorer/SkinsRestorerX/blob/dev/multiver/paper/src/main/java/net/skinsrestorer/paper/PaperUtil.java#L28
https://github.com/PaperMC/Paper/blob/ver/1.8.8/Spigot-API-Patches/0014-Timings-v2.patch#L2817

[2022-11-18 17:43] xknat opened #1115 "async if API is called sync"

[2022-11-19 20:18] xknat commented on #1034
done in #1102

[2022-11-19 20:18] #1034 closed, assigned to nobody

[2022-11-19 20:40] MelonHell opened #1116 "Minestom support"
Minestom is an open-source library that enables developers to create their own Minecraft server software, without any code from Mojang.

https://github.com/Minestom/Minestom

[2022-11-22 16:23] xknat opened #1118 "Mtilib error"
https://mclo.gs/Dj8FQHD

[2022-11-26 10:08] #1088 closed, assigned to AlexProgrammerDE

[2022-11-26 12:05] xknat commented on #893
@GenifeG reminder^

[2022-11-26 14:01] xknat commented on #316
Resolved with new langue system

[2022-11-26 14:01] #316 closed

[2022-11-26 14:08] xknat opened #1122 "Improve applySkin(PlayerWrapper) API"
Current issue: It's unclear what the API method `public void applySkin(PlayerWrapper playerWrapper)` purpose is.

Should it just apply the skinName from the player file/table?  (or else playername)
or should it also include defaultskins, making it doing the same as onjoin!

---
### Option 1: keep is simple stupid
*applySkin will just get the skin from the player table or else return player*

[code

[2022-11-26 16:52] xknat opened #1124 "getSkinData API will ALWAYS update the skin, this may be unintended??"

[2022-11-27 10:09] DimaSergeew opened #1126 "Exception in thread "MultiLib data save""
## Describe the bug
This error occurs every time I stop the server

## How can we reproduce what you got?
Install the latest build of Skinrestorer and stop the server
Steps to reproduce the behavior:
/stop
**Expected behavior**
-

**Screenshots**
-

## Server information

purpur 1.19.2

**What version? Do NOT answer LATEST**

* SkinsRestorer: SkinsRestorerX-DEV 512
* Spigot version: SkinsRestorerX

[2022-11-27 10:12] AlexProgrammerDE commented on #1126
Hello! Could you send us your current SkinsRestorer jar file and your java version?

[2022-11-27 10:13] AlexProgrammerDE commented on #1126
Alright thanks for reporting! Will check myself soon.

[2022-11-27 10:15] AlexProgrammerDE commented on #1126
Could you for reference send your jar file here?

[2022-11-28 10:50] zentixua commented on #893
Sorry 😞, but i cant now (almost always without electricity and time)